CustServInsights/Workflows/AddSatisfactionandescalate-E6FEEE86-83A1-EA11-A812-000D3A7FC8BE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_cc-5fpower-20platform-20connector-5f989cf2626c082bed":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_cc-5Fpower-20platform-20connector-5F989cf2626c082bed","logicalName":"cc_5Fpower-20platform-20connector"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"incidents","$filter":"startswith(description,'This is test case') "},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each":{"foreach":"@outputs('List_records')?['body/value']","actions":{"Random":{"runAfter":{},"type":"Compose","inputs":"@rand(1,7)"},"Random_Escalated":{"runAfter":{"Random":["Succeeded"]},"type":"Compose","inputs":"@rand(1, 7)"},"Condition":{"actions":{"Re-open":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"incidents","recordId":"@items('Apply_to_each')?['incidentid']","item/statecode":0,"item/statuscode":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Add_Satisfaction_escalation":{"runAfter":{"Re-open":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"incidents","recordId":"@items('Apply_to_each')?['incidentid']","item/isescalated":"@if(greaterOrEquals(outputs('Random_Escalated'), 5), true, false)","item/customersatisfactioncode":"@if(greaterOrEquals(outputs('Random'), 5), 5, outputs('Random'))"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"CloseIncident":{"runAfter":{"Add_Satisfaction_escalation":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_cc-5fpower-20platform-20connector-5f989cf2626c082bed","operationId":"CloseIncident","apiId":"/providers/Microsoft.PowerApps/apis/shared_cc-5Fpower-20platform-20connector-5F989cf2626c082bed"},"parameters":{"body/IncidentResolution/subject":"Closed","body/IncidentResolution/incidentid@odata.bind":"/incidents(@{items('Apply_to_each')?['incidentid']})","body/IncidentResolution/overriddencreatedon":"@outputs('Add_Satisfaction_escalation')?['body/createdon']","body/Status":-1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Random_Escalated":["Succeeded"]},"else":{"actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"incidents","recordId":"@items('Apply_to_each')?['incidentid']","item/isescalated":"@if(greaterOrEquals(outputs('Random_Escalated'),5),true,false)","item/customersatisfactioncode":"@if(greaterOrEquals( outputs('Random'), 5), 5,outputs('Random'))"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"equals":["@items('Apply_to_each')?['statecode']",1]},"type":"If"}},"runAfter":{"List_records":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}