CustServInsights/Workflows/CreateCases-BE0167DF-1CA0-EA11-A812-000D3A7FC8BE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_cc-5fpower-20platform-20connector-5f989cf2626c082bed":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_cc-5Fpower-20platform-20connector-5F989cf2626c082bed","logicalName":"cc_5Fpower-20platform-20connector"}},"shared_excelonlinebusiness":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_excelonlinebusiness"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"number":{"title":"CaseNo","type":"number","x-ms-dynamically-added":true,"description":"Please enter a number","x-ms-content-hint":"NUMBER"}},"required":["number"]}}}},"actions":{"Do_until":{"actions":{"Condition_3":{"actions":{"Condition_4":{"actions":{},"runAfter":{},"else":{"actions":{"Set_First_Contact,_Not_closed_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"incidents","recordId":"@outputs('Create_a_new_record')?['body/incidentid']","item/firstresponsesent":true,"item/firstresponseslastatus":3},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_First_Contact_SLA_2":{"runAfter":{"Set_First_Contact,_Not_closed_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"slakpiinstances","$filter":"_regarding_value eq @{outputs('Set_First_Contact,_Not_closed_2')?['body/incidentid']}","$orderby":"failuretime asc","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_6":{"foreach":"@outputs('Get_First_Contact_SLA_2')?['body/value']","actions":{"Update_First_Contact_SLA_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"slakpiinstances","recordId":"@items('Apply_to_each_6')?['slakpiinstanceid']","item/msdyn_actionexecutionstatus":2,"item/status":4,"item/succeededon":"@items('Apply_to_each_6')?['warningtime']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_First_Contact_SLA_2":["Succeeded"]},"type":"Foreach"}}},"expression":{"greaterOrEquals":["@outputs('rand_No')",10]},"type":"If","description":"If eq 10, no first contact either"}},"runAfter":{"rand_No":["Succeeded"]},"else":{"actions":{"If_random_eq":{"actions":{"Update_a_record_5":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"incidents","recordId":"@outputs('Create_a_new_record')?['body/incidentid']","item/firstresponsesent":true,"item/firstresponseslastatus":3,"item/resolvebyslastatus":4},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_all_SLA_Instances_3":{"runAfter":{"Update_a_record_5":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"slakpiinstances","$filter":"_regarding_value eq @{outputs('Create_a_new_record')?['body/incidentid']}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_4":{"foreach":"@outputs('Get_all_SLA_Instances_3')?['body/value']","actions":{"Update_a_record_6":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"slakpiinstances","recordId":"@items('Apply_to_each_4')?['slakpiinstanceid']","item/status":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_all_SLA_Instances_3":["Succeeded"]},"type":"Foreach"}},"runAfter":{},"else":{"actions":{"Update_a_record_7":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"incidents","recordId":"@outputs('Create_a_new_record')?['body/incidentid']","item/firstresponsesent":true,"item/firstresponseslastatus":3,"item/resolvebyslastatus":3},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_all_SLA_Instances_4":{"runAfter":{"Update_a_record_7":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"slakpiinstances","$filter":"_regarding_value eq @{outputs('Create_a_new_record')?['body/incidentid']}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_5":{"foreach":"@outputs('Get_all_SLA_Instances_4')?['body/value']","actions":{"Update_a_record_8":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"slakpiinstances","recordId":"@items('Apply_to_each_5')?['slakpiinstanceid']","item/status":4},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_all_SLA_Instances_4":["Succeeded"]},"type":"Foreach"}}},"expression":{"equals":["@outputs('rand_No')",1]},"type":"If","description":"1 is closed but failed sla"},"CloseIncident_2":{"runAfter":{"If_random_eq":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_cc-5fpower-20platform-20connector-5f989cf2626c082bed","operationId":"CloseIncident","apiId":"/providers/Microsoft.PowerApps/apis/shared_cc-5Fpower-20platform-20connector-5F989cf2626c082bed"},"parameters":{"body/IncidentResolution/subject":"Close Incident","body/IncidentResolution/incidentid@odata.bind":"/incidents(@{outputs('Create_a_new_record')?['body/incidentid']})","body/IncidentResolution/overriddencreatedon":"@outputs('Create_a_new_record')?['body/createdon']","body/Status":-1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"greaterOrEquals":["@outputs('rand_No')",8]},"type":"If","description":"If Random no gt or eq 8, counted as still open"},"Scope":{"actions":{"Get_Priority":{"runAfter":{},"metadata":{"01FXNYGTTS5IQ653XN25EIQ4L2YS2VPL3K":"/Book.xlsx","tableId":"{CB7FE4EB-F7A1-4FC3-87D1-FB1976CA23D2}"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"me","drive":"b!Ot5vq3dI_0i8v1asfzYXTTLBFeeUbhdFp7mpxzQ0i6uducDlBihiRoCpahcTbTsi","file":"01FXNYGTTS5IQ653XN25EIQ4L2YS2VPL3K","table":"{CB7FE4EB-F7A1-4FC3-87D1-FB1976CA23D2}","idColumn":"IdCol","id":"@rand(1, 6)"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Contact_row":{"runAfter":{"Get_Priority":["Succeeded"]},"metadata":{"01FXNYGTTS5IQ653XN25EIQ4L2YS2VPL3K":"/Book.xlsx","tableId":"{CB7FE4EB-F7A1-4FC3-87D1-FB1976CA23D2}"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"me","drive":"b!Ot5vq3dI_0i8v1asfzYXTTLBFeeUbhdFp7mpxzQ0i6uducDlBihiRoCpahcTbTsi","file":"01FXNYGTTS5IQ653XN25EIQ4L2YS2VPL3K","table":"{CB7FE4EB-F7A1-4FC3-87D1-FB1976CA23D2}","idColumn":"IdCol","id":"@rand(1, 251)"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Topic_Middle":{"runAfter":{"Get_Contact_row":["Succeeded"]},"metadata":{"01FXNYGTTS5IQ653XN25EIQ4L2YS2VPL3K":"/Book.xlsx","tableId":"{CB7FE4EB-F7A1-4FC3-87D1-FB1976CA23D2}"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"me","drive":"b!Ot5vq3dI_0i8v1asfzYXTTLBFeeUbhdFp7mpxzQ0i6uducDlBihiRoCpahcTbTsi","file":"01FXNYGTTS5IQ653XN25EIQ4L2YS2VPL3K","table":"{CB7FE4EB-F7A1-4FC3-87D1-FB1976CA23D2}","idColumn":"IdCol","id":"@rand(1, 201)"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Topic_End":{"runAfter":{"Get_Topic_Middle":["Succeeded"]},"metadata":{"01FXNYGTTS5IQ653XN25EIQ4L2YS2VPL3K":"/Book.xlsx","tableId":"{CB7FE4EB-F7A1-4FC3-87D1-FB1976CA23D2}"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"me","drive":"b!Ot5vq3dI_0i8v1asfzYXTTLBFeeUbhdFp7mpxzQ0i6uducDlBihiRoCpahcTbTsi","file":"01FXNYGTTS5IQ653XN25EIQ4L2YS2VPL3K","table":"{CB7FE4EB-F7A1-4FC3-87D1-FB1976CA23D2}","idColumn":"IdCol","id":"@rand(1, 18)"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Topic_Start":{"runAfter":{"Get_Topic_End":["Succeeded"]},"metadata":{"01FXNYGTTS5IQ653XN25EIQ4L2YS2VPL3K":"/Book.xlsx","tableId":"{CB7FE4EB-F7A1-4FC3-87D1-FB1976CA23D2}"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"me","drive":"b!Ot5vq3dI_0i8v1asfzYXTTLBFeeUbhdFp7mpxzQ0i6uducDlBihiRoCpahcTbTsi","file":"01FXNYGTTS5IQ653XN25EIQ4L2YS2VPL3K","table":"{CB7FE4EB-F7A1-4FC3-87D1-FB1976CA23D2}","idColumn":"IdCol","id":"@rand(1, 17)"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Product_row":{"runAfter":{"Get_Topic_Start":["Succeeded"]},"metadata":{"01FXNYGTTS5IQ653XN25EIQ4L2YS2VPL3K":"/Book.xlsx","tableId":"{CB7FE4EB-F7A1-4FC3-87D1-FB1976CA23D2}"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"me","drive":"b!Ot5vq3dI_0i8v1asfzYXTTLBFeeUbhdFp7mpxzQ0i6uducDlBihiRoCpahcTbTsi","file":"01FXNYGTTS5IQ653XN25EIQ4L2YS2VPL3K","table":"{CB7FE4EB-F7A1-4FC3-87D1-FB1976CA23D2}","idColumn":"IdCol","id":"@rand(1, 52)"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Channel":{"runAfter":{"Get_Product_row":["Succeeded"]},"metadata":{"01FXNYGTTS5IQ653XN25EIQ4L2YS2VPL3K":"/Book.xlsx","tableId":"{CB7FE4EB-F7A1-4FC3-87D1-FB1976CA23D2}"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"me","drive":"b!Ot5vq3dI_0i8v1asfzYXTTLBFeeUbhdFp7mpxzQ0i6uducDlBihiRoCpahcTbTsi","file":"01FXNYGTTS5IQ653XN25EIQ4L2YS2VPL3K","table":"{CB7FE4EB-F7A1-4FC3-87D1-FB1976CA23D2}","idColumn":"IdCol","id":"@rand(1, 8)"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Compose":{"runAfter":{"Get_Channel":["Succeeded"]},"type":"Compose","inputs":"@formatDateTime(addHours( addDays(utcNow(),rand(-45, 1)),rand(-6,0)),'yyyy-MM-ddThh:mm:ssZ')"},"Create_a_new_record":{"runAfter":{"Compose":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"incidents","item/title":"@{outputs('Get_Topic_Start')?['body/Topic Start']} @{outputs('Get_Topic_Middle')?['body/Topic Main']} @{outputs('Get_Topic_End')?['body/Topic End']}","item/customerid_contact@odata.bind":"/contacts(@{outputs('Get_Contact_row')?['body/Contact']})","item/description":"This is test case generated on @{UtcNow()}","item/caseorigincode":"@int(outputs('Get_Channel')?['body/Channel'])","item/productid@odata.bind":"/products(@{outputs('Get_Product_row')?['body/Product']})","item/lastonholdtime":"@outputs('Compose')","item/prioritycode":"@int(outputs('Get_Priority')?['body/Priority'])","item/overriddencreatedon":"@outputs('Compose')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Scope"},"Increment_variable":{"runAfter":{"Condition_3":["Succeeded"]},"type":"IncrementVariable","inputs":{"name":"CaseCounter","value":1}},"rand_No":{"runAfter":{"Scope":["Succeeded"]},"type":"Compose","inputs":"@rand(0,11)"}},"runAfter":{"Initialize_variable":["Succeeded"]},"expression":"@greaterOrEquals(variables('CaseCounter'), triggerBody()['number'])","limit":{"count":300,"timeout":"PT1H"},"type":"Until"},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"CaseCounter","type":"integer","value":0}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}