CustServInsights/Workflows/Fixcloseincident-078DE7A8-90A1-EA11-A812-000D3A7FC8BE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_cc-5fpower-20platform-20connector-5f989cf2626c082bed":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_cc-5Fpower-20platform-20connector-5F989cf2626c082bed","logicalName":"cc_5Fpower-20platform-20connector"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_Resolutions":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"incidentresolutions","$filter":"subject eq 'Close Incident'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each":{"foreach":"@outputs('List_Resolutions')?['body/value']","actions":{"CloseIncident":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_cc-5fpower-20platform-20connector-5f989cf2626c082bed","operationId":"CloseIncident","apiId":"/providers/Microsoft.PowerApps/apis/shared_cc-5Fpower-20platform-20connector-5F989cf2626c082bed"},"parameters":{"body/IncidentResolution/subject":"ReClose Incident ","body/IncidentResolution/incidentid@odata.bind":"/incidents(@{items('Apply_to_each')?['_incidentid_value']})","body/IncidentResolution/overriddencreatedon":"@items('Apply_to_each')?['createdon']","body/Status":-1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_Resolutions":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}