ApprovalsDemo/Workflows/1EmailwithOptions-053CA89B-CE99-EA11-A812-000D3A7FC8BE.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_commondataservice"}},"shared_office365":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"contacts","id":"63a0e5b9-88df-e311-b8e5-6c3be5a8b200"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Send_email_with_options":{"runAfter":{"Get_record":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendMailWithOptions","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"optionsEmailSubscription/Message/To":"@outputs('Get_record')?['body/emailaddress1']","optionsEmailSubscription/Message/Subject":"This is a test for D365 Bham","optionsEmailSubscription/Message/Options":"Blue, Red, Green","optionsEmailSubscription/Message/HeaderText":"This is for the header","optionsEmailSubscription/Message/Body":"<p>Please read each statement below<p>\n<p><b>Your Name: @{outputs('Get_record')?['body/fullname']}</b></p>","optionsEmailSubscription/Message/Importance":"Normal"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Switch":{"runAfter":{"Send_email_with_options":["Succeeded"]},"cases":{"Case":{"case":"Blue","actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"contacts","id":"@outputs('Get_record')?['body/contactid']","item/address1_line3":"Blue is their favourite colour","item/_parentcustomerid_type":"","item/_ownerid_type":""},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"Case_2":{"case":"Red","actions":{"Update_a_record_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"contacts","id":"@outputs('Get_record')?['body/contactid']","item/address1_line3":"Red is definetly it","item/_parentcustomerid_type":"","item/_ownerid_type":""},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}}},"default":{"actions":{}},"expression":"@outputs('Send_email_with_options')?['body/SelectedOption']","type":"Switch"},"Delay":{"runAfter":{"Get_record":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":1,"unit":"Week"}}},"Send_an_email_(V2)":{"runAfter":{"Delay":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"Cooky@linked365.blog","emailMessage/Subject":"No reply","emailMessage/Body":"<p>No reply</p>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Terminate":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Terminate_2":{"runAfter":{"Switch":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}