ApprovalsDemo/Workflows/3CustomActionCard-0E6EA008-A39A-EA11-A812-000D3A7FC8BE.json
{"properties":{"connectionReferences":{"shared_approvals":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_approvals"}},"shared_teams":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_teams"}},"shared_commondataservice":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Create_an_approval":{"runAfter":{"Get_Opp_Lines":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_approvals","operationId":"CreateAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"BasicAwaitAll","ApprovalCreationInput/title":"Test Adaptive Card","ApprovalCreationInput/assignedTo":"Cooky@linked365.blog","ApprovalCreationInput/enableNotifications":false,"ApprovalCreationInput/enableReassignment":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Wait_for_an_approval":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"WaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalName":"@outputs('Create_an_approval')?['body/name']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each":{"foreach":"@outputs('Create_an_approval')?['body/approvers']","actions":{"Post_your_own_adaptive_card_as_the_Flow_bot_to_a_user":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostUserAdaptiveCard","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"PostAdaptiveCardRequest/recipient/to":"Cooky@linked365.blog;","PostAdaptiveCardRequest/messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"hideOriginalBody\": true,\n    \"body\": [\n        {\n            \"type\": \"Container\",\n            \"style\": \"emphasis\",\n            \"items\": [\n                {\n                    \"type\": \"ColumnSet\",\n                    \"columns\": [\n                        {\n                            \"type\": \"Column\",\n                            \"items\": [\n                                {\n                                    \"type\": \"TextBlock\",\n                                    \"size\": \"large\",\n                                    \"weight\": \"bolder\",\n                                    \"text\": \"**OPP APPROVAL**\"\n                                }\n                            ],\n                            \"width\": \"stretch\"\n                        },\n                        {\n                            \"type\": \"Column\",\n                            \"items\": [\n                                {\n                                    \"type\": \"Image\",\n                                    \"url\": \"https://filedepot.blob.core.windows.net/build/pending.png\",\n                                    \"height\": \"30px\",\n                                    \"altText\": \"Pending\"\n                                }\n                            ],\n                            \"width\": \"auto\"\n                        }\n                    ]\n                }\n            ],\n            \"bleed\": true\n        },\n        {\n            \"type\": \"Container\",\n            \"items\": [\n                {\n                    \"type\": \"ColumnSet\",\n                    \"columns\": [\n                        {\n                            \"type\": \"Column\",\n                            \"items\": [\n                                {\n                                    \"type\": \"TextBlock\",\n                                    \"spacing\": \"Small\",\n                                    \"size\": \"Small\",\n                                    \"weight\": \"Bolder\",\n                                    \"color\": \"Accent\",\n                                    \"text\": \"[3D Printer Purchase](https://ccdemo0520.crm11.dynamics.com/main.aspx?appid=3e5f8056-a08a-ea11-a811-000d3a7fc264&pagetype=entityrecord&etn=opportunity&id=6634f32e-4be5-e511-80fe-00155d09ab01)\"\n                                }\n                            ],\n                            \"width\": \"stretch\"\n                        }\n                    ]\n                },\n                {\n                    \"type\": \"FactSet\",\n                    \"spacing\": \"Small\",\n                    \"facts\": [\n                        {\n                            \"title\": \"Account\",\n                            \"value\": \"[Margie's Travel](https://ccdemo0619.crm.dynamics.com/main.aspx?newWindow=true&pagetype=entityrecord&etn=account&id=d494b650-73ff-e611-8104-e0071b669e61)\"\n                        },\n                        {\n                            \"title\": \"Account Manager\",\n                            \"value\": \"Veronica Quek\"\n                        },\n                        {\n                            \"title\": \"Submitted On\",\n                            \"value\": \"2019-06-28T10:03:11Z\"\n                        },\n                        {\n                            \"title\": \"Total Opp Value\",\n                            \"value\": \"£350,988.00\"\n                        },\n                        {\n                            \"title\": \"Discount %\",\n                            \"value\": \"13\"\n                        },\n                        {\n                            \"title\": \"Discount\",\n                            \"value\": \"\"\n                        },\n                        {\n                            \"title\": \"Tax\",\n                            \"value\": \"0\"\n                        },\n                        {\n                            \"title\": \"Shipping\",\n                            \"value\": \"\"\n                        },\n                        {\n                            \"title\": \"**Total**\",\n                            \"value\": \"£305,359.56\"\n                        }\n                    ]\n                }\n            ]\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"weight\": \"Bolder\",\n                            \"text\": \"PRODUCT\"\n                        }\n                    ],\n                    \"width\": \"150px\"\n                },\n                {\n                    \"type\": \"Column\",\n                    \"spacing\": \"Large\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"id\": \"price\",\n                            \"horizontalAlignment\": \"Right\",\n                            \"weight\": \"Bolder\",\n                            \"text\": \"Price\"\n                        }\n                    ],\n                    \"width\": \"stretch\"\n                },\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"weight\": \"Bolder\",\n                            \"text\": \"Qty\"\n                        }\n                    ],\n                    \"width\": \"auto\"\n                },\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"weight\": \"Bolder\",\n                            \"text\": \"Disc.\"\n                        }\n                    ],\n                    \"width\": \"stretch\"\n                },\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"weight\": \"Bolder\",\n                            \"text\": \"Total\"\n                        }\n                    ],\n                    \"width\": \"stretch\"\n                }\n            ]\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"ABS Filament 3D Printer 4\\\\\\\"\"\n                        }\n                    ],\n                    \"width\": \"150px\"\n                },\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"horizontalAlignment\": \"Right\",\n                            \"text\": \"£500.00\"\n                        }\n                    ],\n                    \"width\": 20\n                },\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"horizontalAlignment\": \"Right\",\n                            \"text\": \"123\"\n                        }\n                    ],\n                    \"width\": 10\n                },\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"horizontalAlignment\": \"Right\",\n                            \"text\": \"£0\"\n                        }\n                    ],\n                    \"width\": 15\n                },\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"£61,500.00\"\n                        }\n                    ],\n                    \"width\": 20\n                }\n            ]\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"ArmBand 100\"\n                        }\n                    ],\n                    \"width\": \"150px\"\n                },\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"horizontalAlignment\": \"Right\",\n                            \"text\": \"£1,250.00\"\n                        }\n                    ],\n                    \"width\": 20\n                },\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"horizontalAlignment\": \"Right\",\n                            \"text\": \"230\"\n                        }\n                    ],\n                    \"width\": 10\n                },\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"horizontalAlignment\": \"Right\",\n                            \"text\": \"£0\"\n                        }\n                    ],\n                    \"width\": 15\n                },\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"£287,500.00\"\n                        }\n                    ],\n                    \"width\": 20\n                }\n            ]\n        },\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"AssemblyMaestro Arm Servo Motor\"\n                        }\n                    ],\n                    \"width\": \"150px\"\n                },\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"horizontalAlignment\": \"Right\",\n                            \"text\": \"£1,000.00\"\n                        }\n                    ],\n                    \"width\": 20\n                },\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"horizontalAlignment\": \"Right\",\n                            \"text\": \"2\"\n                        }\n                    ],\n                    \"width\": 10\n                },\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"horizontalAlignment\": \"Right\",\n                            \"text\": \"£12.00\"\n                        }\n                    ],\n                    \"width\": 15\n                },\n                {\n                    \"type\": \"Column\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"£2,000.00\"\n                        }\n                    ],\n                    \"width\": 20\n                }\n            ]\n        }\n    ],\n    \"actions\": [\n        {\n            \"type\": \"Action.ShowCard\",\n            \"title\": \"Approve\",\n            \"card\": {\n                \"type\": \"AdaptiveCard\",\n                \"version\": \"1.0\",\n                \"body\": [\n                    {\n                        \"type\": \"TextBlock\",\n                        \"text\": \"Comments\",\n                        \"wrap\": true\n                    },\n                    {\n                        \"type\": \"Input.Text\",\n                        \"id\": \"comments\",\n                        \"placeholder\": \"Enter comments\",\n                        \"isMultiline\": true,\n                        \"maxLength\": 1000\n                    }\n                ],\n                \"actions\": [\n                    {\n                        \"type\": \"Action.Submit\",\n                        \"data\": {\n                            \"Environment\": \"34075137-370f-4576-9056-a8a57c3eb9c1\",\n                            \"ApprovalTitle\": \"Test Adaptive Card\",\n                            \"ApprovalLink\": \"@{outputs('Create_an_approval')?['body/respondLink']}\",\n                            \"ApprovalName\": \"@{outputs('Create_an_approval')?['body/name']}\",\n                            \"OnBehalfOfNotice\": \"Requested by Carl Cookson <cooky@linked365.blog>\",\n                            \"CreatorName\": \"Carl Cookson\",\n                            \"CreatorEmail\": \"cooky@linked365.blog\",\n                            \"CreationTime\": \"\\\"@{outputs('Create_an_approval')?['body/requestDate']}\\\"\",\n                            \"MessageTitle\": \"test\",\n                            \"Details\": \"Please approve\",\n                            \"Options\": [\n                                \"Approve\",\n                                \"Reject\"\n                            ],\n                            \"SelectedOption\": \"Approve\",\n                            \"ActionType\": 1\n                        },\n                        \"title\": \"Submit\"\n                    }\n                ],\n                \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\"\n            }\n        },\n        {\n            \"type\": \"Action.ShowCard\",\n            \"title\": \"Reject\",\n            \"card\": {\n                \"type\": \"AdaptiveCard\",\n                \"body\": [\n                    {\n                        \"type\": \"TextBlock\",\n                        \"text\": \"Comments\",\n                        \"wrap\": true\n                    },\n                    {\n                        \"type\": \"Input.Text\",\n                        \"id\": \"commentsreject\",\n                        \"placeholder\": \"Enter reason why Opportunity is rejected\",\n                        \"maxLength\": 1000,\n                        \"isMultiline\": true\n                    }\n                ],\n                \"actions\": [\n                    {\n                        \"type\": \"Action.Submit\",\n                        \"data\": {\n                            \"Environment\": \"34075137-370f-4576-9056-a8a57c3eb9c1\",\n                            \"ApprovalTitle\": \"Test Adaptive Card\",\n                            \"ApprovalLink\": \"@{outputs('Create_an_approval')?['body/respondLink']}\",\n                            \"ApprovalName\": \"@{outputs('Create_an_approval')?['body/name']}\",\n                            \"OnBehalfOfNotice\": \"Requested by Carl Cookson <cooky@linked365.blog>\",\n                            \"CreatorName\": \"Carl Cookson\",\n                            \"CreatorEmail\": \"cooky@linked365.blog\",\n                            \"CreationTime\": \"\\\"@{outputs('Create_an_approval')?['body/requestDate']}\\\"\",\n                            \"MessageTitle\": \"test\",\n                            \"Details\": \"Rejection Reason\",\n                            \"Options\": [\n                                \"Approve\",\n                                \"Reject\"\n                            ],\n                            \"SelectedOption\": \"Reject\",\n                            \"ActionType\": 1\n                        },\n                        \"title\": \"Submit\"\n                    }\n                ],\n                \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\"\n            }\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.0\"\n}","PostAdaptiveCardRequest/recipient/summary":"hey"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Post_your_own_adaptive_card_as_the_Flow_bot_to_a_channel":{"runAfter":{"Post_your_own_adaptive_card_as_the_Flow_bot_to_a_user":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostChannelAdaptiveCard","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"groupId":"7d53ed27-b233-4b12-bd3e-516391bf637f","PostAdaptiveCardRequest/recipient/channelId":"19:4d2099c870bf480caea8ef963c6c1e98@thread.tacv2","PostAdaptiveCardRequest/messageBody":"{\n  \"type\": \"AdaptiveCard\",\n  \"hideOriginalBody\": true,\n  \"body\": [\n      {\n          \"type\": \"Container\",\n          \"style\": \"emphasis\",\n          \"items\": [\n              {\n                  \"type\": \"ColumnSet\",\n                  \"columns\": [\n                      {\n                          \"type\": \"Column\",\n                          \"items\": [\n                              {\n                                  \"type\": \"TextBlock\",\n                                  \"size\": \"large\",\n                                  \"weight\": \"bolder\",\n                                  \"text\": \"**OPP APPROVAL**\"\n                              }\n                          ],\n                          \"width\": \"stretch\"\n                      },\n                      {\n                          \"type\": \"Column\",\n                          \"items\": [\n                              {\n                                  \"type\": \"Image\",\n                                  \"url\": \"https://filedepot.blob.core.windows.net/build/pending.png\",\n                                  \"height\": \"30px\",\n                                  \"altText\": \"Pending\"\n                              }\n                          ],\n                          \"width\": \"auto\"\n                      }\n                  ]\n              }\n          ],\n          \"bleed\": true\n      },\n      {\n          \"type\": \"Container\",\n          \"items\": [\n              {\n                  \"type\": \"ColumnSet\",\n                  \"columns\": [\n                      {\n                          \"type\": \"Column\",\n                          \"items\": [\n                              {\n                                  \"type\": \"TextBlock\",\n                                  \"spacing\": \"Small\",\n                                  \"size\": \"Small\",\n                                  \"weight\": \"Bolder\",\n                                  \"color\": \"Accent\",\n                                  \"text\": \"[3D Printer Purchase](https://ccdemo0520.crm11.dynamics.com/main.aspx?appid=3e5f8056-a08a-ea11-a811-000d3a7fc264&pagetype=entityrecord&etn=opportunity&id=6634f32e-4be5-e511-80fe-00155d09ab01)\"\n                              }\n                          ],\n                          \"width\": \"stretch\"\n                      }\n                  ]\n              },\n              {\n                  \"type\": \"FactSet\",\n                  \"spacing\": \"Small\",\n                  \"facts\": [\n                      {\n                          \"title\": \"Account\",\n                          \"value\": \"[Margie's Travel](https://ccdemo0619.crm.dynamics.com/main.aspx?newWindow=true&pagetype=entityrecord&etn=account&id=d494b650-73ff-e611-8104-e0071b669e61)\"\n                      },\n                      {\n                          \"title\": \"Account Manager\",\n                          \"value\": \"Veronica Quek\"\n                      },\n                      {\n                          \"title\": \"Submitted On\",\n                          \"value\": \"2019-06-28T10:03:11Z\"\n                      },\n                      {\n                          \"title\": \"Total Opp Value\",\n                          \"value\": \"£350,988.00\"\n                      },\n                      {\n                          \"title\": \"Discount %\",\n                          \"value\": \"13\"\n                      },\n                      {\n                          \"title\": \"Discount\",\n                          \"value\": \"\"\n                      },\n                      {\n                          \"title\": \"Tax\",\n                          \"value\": \"0\"\n                      },\n                      {\n                          \"title\": \"Shipping\",\n                          \"value\": \"\"\n                      },\n                      {\n                          \"title\": \"**Total**\",\n                          \"value\": \"£305,359.56\"\n                      }\n                  ]\n              }\n          ]\n      },\n            {\n          \"type\": \"ColumnSet\",\n          \"columns\": [\n              {\n                  \"type\": \"Column\",\n                  \"items\": [\n                      {\n                          \"type\": \"TextBlock\",\n                          \"weight\": \"Bolder\",\n                          \"text\": \"PRODUCT\"\n                      }\n                  ],\n                  \"width\": \"150px\"\n              },\n              {\n                  \"type\": \"Column\",\n                  \"spacing\": \"Large\",\n                  \"items\": [\n                      {\n                          \"type\": \"TextBlock\",\n                          \"id\": \"price\",\n                          \"horizontalAlignment\": \"Right\",\n                          \"weight\": \"Bolder\",\n                          \"text\": \"Price\"\n                      }\n                  ],\n                  \"width\": \"stretch\"\n              },\n              {\n                  \"type\": \"Column\",\n                  \"items\": [\n                      {\n                          \"type\": \"TextBlock\",\n                          \"weight\": \"Bolder\",\n                          \"text\": \"Qty\"\n                      }\n                  ],\n                  \"width\": \"auto\"\n              },\n              {\n                  \"type\": \"Column\",\n                  \"items\": [\n                      {\n                          \"type\": \"TextBlock\",\n                          \"weight\": \"Bolder\",\n                          \"text\": \"Disc.\"\n                      }\n                  ],\n                  \"width\": \"stretch\"\n              },\n              {\n                  \"type\": \"Column\",\n                  \"items\": [\n                      {\n                          \"type\": \"TextBlock\",\n                          \"weight\": \"Bolder\",\n                          \"text\": \"Total\"\n                      }\n                  ],\n                  \"width\": \"stretch\"\n              }\n          ]\n      },{\"type\":\"ColumnSet\",\"columns\":[{\"type\":\"Column\",\"items\":[{\"type\":\"TextBlock\",\"text\":\"ABS Filament 3D Printer 4\\\\\\\"\"}],\"width\":\"150px\"},{\"type\":\"Column\",\"items\":[{\"type\":\"TextBlock\",\"horizontalAlignment\":\"Right\",\"text\":\"£500.00\"}],\"width\":20},{\"type\":\"Column\",\"items\":[{\"type\":\"TextBlock\",\"horizontalAlignment\":\"Right\",\"text\":\"123\"}],\"width\":10},{\"type\":\"Column\",\"items\":[{\"type\":\"TextBlock\",\"horizontalAlignment\":\"Right\",\"text\":\"£0\"}],\"width\":15},{\"type\":\"Column\",\"items\":[{\"type\":\"TextBlock\",\"text\":\"£61,500.00\"}],\"width\":20}]},{\"type\":\"ColumnSet\",\"columns\":[{\"type\":\"Column\",\"items\":[{\"type\":\"TextBlock\",\"text\":\"ArmBand 100\"}],\"width\":\"150px\"},{\"type\":\"Column\",\"items\":[{\"type\":\"TextBlock\",\"horizontalAlignment\":\"Right\",\"text\":\"£1,250.00\"}],\"width\":20},{\"type\":\"Column\",\"items\":[{\"type\":\"TextBlock\",\"horizontalAlignment\":\"Right\",\"text\":\"230\"}],\"width\":10},{\"type\":\"Column\",\"items\":[{\"type\":\"TextBlock\",\"horizontalAlignment\":\"Right\",\"text\":\"£0\"}],\"width\":15},{\"type\":\"Column\",\"items\":[{\"type\":\"TextBlock\",\"text\":\"£287,500.00\"}],\"width\":20}]},{\"type\":\"ColumnSet\",\"columns\":[{\"type\":\"Column\",\"items\":[{\"type\":\"TextBlock\",\"text\":\"AssemblyMaestro Arm Servo Motor\"}],\"width\":\"150px\"},{\"type\":\"Column\",\"items\":[{\"type\":\"TextBlock\",\"horizontalAlignment\":\"Right\",\"text\":\"£1,000.00\"}],\"width\":20},{\"type\":\"Column\",\"items\":[{\"type\":\"TextBlock\",\"horizontalAlignment\":\"Right\",\"text\":\"2\"}],\"width\":10},{\"type\":\"Column\",\"items\":[{\"type\":\"TextBlock\",\"horizontalAlignment\":\"Right\",\"text\":\"£12.00\"}],\"width\":15},{\"type\":\"Column\",\"items\":[{\"type\":\"TextBlock\",\"text\":\"£2,000.00\"}],\"width\":20}]}    \n],\n  \"actions\" :[\n      {\n          \"type\": \"Action.ShowCard\",\n          \"title\": \"Approve\",\n          \"card\": {\n              \"type\": \"AdaptiveCard\",\n              \"version\": \"1.0\",\n              \"body\": [\n                  {\n                      \"type\": \"TextBlock\",\n                      \"text\": \"Comments\",\n                      \"wrap\": true\n                  },\n                  {\n                      \"type\": \"Input.Text\",\n                      \"id\": \"comments\",\n                      \"placeholder\": \"Enter comments\",\n                      \"isMultiline\": true,\n                      \"maxLength\": 1000\n                  }\n              ],\n              \"actions\": [\n                  {\n                      \"type\": \"Action.Submit\",\n\n                      \"data\": {\n                          \"Environment\": \"34075137-370f-4576-9056-a8a57c3eb9c1\",\n                          \"ApprovalTitle\": \"Test Adaptive Card\",\n                          \"ApprovalLink\":\"@{outputs('Create_an_approval')?['body/respondLink']}\",\n\"ApprovalName\": \"@{outputs('Create_an_approval')?['body/name']}\",\n                          \"OnBehalfOfNotice\": \"Requested by Carl Cookson <cooky@linked365.blog>\",\n                          \"CreatorName\": \"Carl Cookson\",\n                          \"CreatorEmail\": \"cooky@linked365.blog\",\n                          \"CreationTime\": \"\\\"@{outputs('Create_an_approval')?['body/requestDate']}\\\"\",\n                         \"MessageTitle\": \"test\",\n                          \"Details\": \"Please approve\",\n                          \"Options\": [\n                              \"Approve\",\n                              \"Reject\"\n                          ],\n                          \"SelectedOption\": \"Approve\",\n                          \"ActionType\": 1\n                      },\n                      \"title\": \"Submit\"\n                  }\n              ],\n              \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\"\n          }\n      },\n      {\n          \"type\": \"Action.ShowCard\",\n          \"title\": \"Reject\",\n          \"card\": {\n              \"type\": \"AdaptiveCard\",\n              \"body\": [\n                  {\n                      \"type\": \"TextBlock\",\n                      \"text\": \"Comments\",\n                      \"wrap\": true\n                  },\n                  {\n                      \"type\": \"Input.Text\",\n                      \"id\": \"commentsreject\",\n                      \"placeholder\": \"Enter reason why Opportunity is rejected\",\n                      \"maxLength\": 1000,\n                      \"isMultiline\": true\n                  }\n              ],\n              \"actions\": [\n                  {\n                      \"type\": \"Action.Submit\",\n                      \"title\": \"Submit\",\n                      \"data\": {\n                          \"Environment\": \"Default-2821cf92-86ad-4c7b-ba9a-5c79a70d4a21\",\n                          \"ApprovalTitle\": \"test\",\n                          \"ApprovalLink\":\"https://flow.microsoft.com/manage/environments/Default-2821cf92-86ad-4c7b-ba9a-5c79a70d4a21/approvals/received/0c40cc48-eb07-47ef-a8eb-9afc5a982110\",\n\"ApprovalName\": \"0c40cc48-eb07-47ef-a8eb-9afc5a982110\",\n                          \"OnBehalfOfNotice\": \"Requested by Carl Cookson <CarlC@CRM568082.onmicrosoft.com>\",\n                          \"CreatorName\": \"Carl Cookson\",\n                          \"CreatorEmail\": \"CarlC@CRM568082.onmicrosoft.com\",\n                          \"CreationTime\": \"\\\"2019-07-04T09:22:32Z\\\"\",\n                          \"MessageTitle\": \"test\",\n                          \"Details\": \"Please approve\",\n                          \"Options\": [\n                              \"Approve\",\n                              \"Reject\"\n                          ],\n                          \"SelectedOption\": \"Reject\",\n                          \"ActionType\": 1\n                      }\n                  }\n              ],\n              \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\"\n          }\n      }\n  ],\n  \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n  \"version\": \"1.0\"\n}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Create_an_approval":["Succeeded"]},"type":"Foreach"},"Get_Opportunity":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"opportunities","id":"6634f32e-4be5-e511-80fe-00155d09ab01"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Opp_Lines":{"runAfter":{"Get_Opportunity":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"opportunityproducts","$filter":"_opportunityid_value eq @{outputs('Get_Opportunity')?['body/opportunityid']}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_a_record":{"runAfter":{"Wait_for_an_approval":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"orgce5e96b0.crm11","table":"opportunities","id":"@outputs('Get_Opportunity')?['body/opportunityid']","item/_customerid_type":"","item/confirminterest":true,"item/_ownerid_type":""},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}