AppLauncher/Workflows/CheckAccesstoApp-BEC465E8-7F9B-EA11-A812-000D3A7FC8BE.json
{"properties":{"connectionReferences":{"shared_powerplatformforadmins":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_powerplatformforadmins"}},"shared_powerappsforadmins":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_powerappsforadmins"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"AppName":{"type":"string"},"Email":{"type":"string"}}},"method":"POST"}}},"actions":{"Get_Environment_as_Admin":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins","operationId":"GetSingleEnvironment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"environment":"34075137-370f-4576-9056-a8a57c3eb9c1","api-version":"2018-10-01"},"authentication":"@parameters('$authentication')"}},"Get_Apps_as_Admin":{"runAfter":{"Get_Environment_as_Admin":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforadmins","operationId":"Get-AdminApps","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"},"parameters":{"environment":"@outputs('Get_Environment_as_Admin')?['body/name']","api-version":"2016-11-01","$top":250},"authentication":"@parameters('$authentication')"}},"Filter_Apps_List":{"runAfter":{"Get_Apps_as_Admin":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('Get_Apps_as_Admin')?['body/value']","where":"@equals(item()?['properties/displayName'], triggerBody()?['AppName'])"}},"Get_App_Role_Assignments_as_Admin":{"runAfter":{"Filter_Apps_List":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforadmins","operationId":"Get-AdminAppRoleAssignment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforadmins"},"parameters":{"environment":"@outputs('Get_Environment_as_Admin')?['body/name']","app":"@first(body('Filter_Apps_List'))?['name']","api-version":"2016-11-01","$top":250},"authentication":"@parameters('$authentication')"}},"Filter_array":{"runAfter":{"Get_App_Role_Assignments_as_Admin":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('Get_App_Role_Assignments_as_Admin')?['body/value']","where":"@equals(item()?['properties/principal/type'], 'Tenant')"}},"Condition":{"actions":{"Response":{"runAfter":{},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"HasAccess":"Yes"}}}},"runAfter":{"Filter_array":["Succeeded"]},"else":{"actions":{"Filter_array_2":{"runAfter":{},"type":"Query","inputs":{"from":"@outputs('Get_App_Role_Assignments_as_Admin')?['body/value']","where":"@equals(item()?['properties/principal/type'], 'User')"}},"Filter_array_3":{"runAfter":{"Filter_array_2":["Succeeded"]},"type":"Query","inputs":{"from":"@body('Filter_array_2')","where":"@equals(item()?['properties']?['principal']?['email'], triggerBody()?['Email'])"}},"Condition_2":{"actions":{"Response_3":{"runAfter":{},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"HasAccess":"Yes"}}}},"runAfter":{"Filter_array_3":["Succeeded"]},"else":{"actions":{"Response_4":{"runAfter":{},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"HasAccess":"No"}}}}},"expression":{"greater":["@length(body('Filter_array_3'))",0]},"type":"If"}}},"expression":{"greater":["@length(body('Filter_array'))",0]},"type":"If"},"Terminate":{"runAfter":{"Response_2":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Response_2":{"runAfter":{"Get_App_Role_Assignments_as_Admin":["Failed"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"HasAccess":"No"},"schema":{"HasAccess":"No"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}