AppLauncher/Workflows/PowerApp-HTTP-406E07D0-A89B-EA11-A812-000D3A7FC8BE.json
{"properties":{"connectionReferences":{},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"HTTP_Body":{"type":"any","description":"Enter request content. This parameter is used as part of \"BB726FA6-63B3-44F5-B90D-6971B06ED57E\"","x-ms-powerflows-param-ispartial":true},"HTTP_Body_1":{"type":"any"}},"required":["HTTP_Body","HTTP_Body_1"]}}}},"actions":{"HTTP":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"https://prod-08.uksouth.logic.azure.com:443/workflows/58c79fc541f64079a1acb10abba59a14/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=tc4vuyPbDBSEzx5X4kZLjdUxKJAxacCYtsv0IekqHy0","body":{"AppName":"@{triggerBody()['HTTP_Body']}","Email":"@{triggerBody()['HTTP_Body_1']}"}}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"has_access":"@body('Parse_JSON')?['HasAccess']"},"schema":{"type":"object","properties":{"has_access":{"title":"Has Access","x-ms-dynamically-added":true,"type":"string"}}}}},"Parse_JSON":{"runAfter":{"HTTP":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"HasAccess":{"type":"string"}}}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}