Alexa/Workflows/Alexa--FieldService-B3455CA0-08CB-E911-A830-000D3A34E879.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_office365_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}},"shared_teams":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_teams"}},"shared_excelonlinebusiness":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_excelonlinebusiness"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"version":{"type":"string"},"session":{"type":"object","properties":{"sessionId":{"type":"string"},"application":{"type":"object","properties":{"applicationId":{"type":"string"}}},"user":{"type":"object","properties":{"userId":{"type":"string"},"permissions":{"type":"object","properties":{"consentToken":{"type":"string"}}}}},"new":{"type":"boolean"}}},"context":{"type":"object","properties":{"System":{"type":"object","properties":{"application":{"type":"object","properties":{"applicationId":{"type":"string"}}},"user":{"type":"object","properties":{"userId":{"type":"string"},"permissions":{"type":"object","properties":{"consentToken":{"type":"string"}}}}},"device":{"type":"object","properties":{"supportedInterfaces":{"type":"object","properties":{}},"deviceId":{"type":"string"}}},"apiEndpoint":{"type":"string"},"apiAccessToken":{"type":"string"}}},"Viewport":{"type":"object","properties":{"experiences":{"type":"array","items":{"type":"object","properties":{"arcMinuteWidth":{"type":"integer"},"arcMinuteHeight":{"type":"integer"},"canRotate":{"type":"boolean"},"canResize":{"type":"boolean"}},"required":["arcMinuteWidth","arcMinuteHeight","canRotate","canResize"]}},"shape":{"type":"string"},"pixelWidth":{"type":"integer"},"pixelHeight":{"type":"integer"},"dpi":{"type":"integer"},"currentPixelWidth":{"type":"integer"},"currentPixelHeight":{"type":"integer"},"touch":{"type":"array","items":{"type":"string"}}}}}},"request":{"type":"object","properties":{"requestId":{"type":"string"},"intent":{"type":"object","properties":{"slots":{"type":"object","properties":{"day":{"type":"object","properties":{"confirmationStatus":{"type":"string"},"name":{"type":"string"}}},"device":{"type":"object","properties":{"resolutions":{"type":"object","properties":{"resolutionsPerAuthority":{"type":"array","items":{"type":"object","properties":{"authority":{"type":"string"},"values":{"type":"array","items":{"type":"object","properties":{"value":{"type":"object","properties":{"name":{"type":"string"},"id":{"type":"string"}}}},"required":["value"]}},"status":{"type":"object","properties":{"code":{"type":"string"}}}},"required":["authority","status","values"]}}}},"confirmationStatus":{"type":"string"},"source":{"type":"string"},"name":{"type":"string"},"value":{"type":"string"}}},"date":{"type":"object","properties":{"name":{"type":"string"},"confirmationStatus":{"type":"string"}}}}},"name":{"type":"string"},"confirmationStatus":{"type":"string"}}},"type":{"type":"string"},"timestamp":{"type":"string"},"locale":{"type":"string"}}}}}}}},"actions":{"Contact_Email_Address":{"runAfter":{"Do_until":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Contact Email","type":"String","value":"@{body('Get_Email_address_of_user')}"}]}},"Check_if_Contact_registered":{"actions":{"Switch":{"runAfter":{},"cases":{"Case":{"case":"service","actions":{"Set_Body_-_Service":{"runAfter":{"Compose":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Response Body","value":"Hi We have receieved your request for a Service@{if(equals(triggerBody()?['request']?['intent']?['slots']?['device']?['value'], ''), '', concat(' for your ',triggerBody()?['request']?['intent']?['slots']?['device']?['value']))}.  @{if(contains(triggerBody()?['request']?['intent']?['slots']?['date'],'value'),concat( 'We will endeavour to send an engineer on ',triggerBody()?['request']?['intent']?['slots']?['date']?['value']),'')}"}},"Compose":{"runAfter":{},"type":"Compose","inputs":"@triggerBody()?['request']?['intent']?['slots']?['device']?['value']"}}},"Case_2":{"case":"repair","actions":{"Set_Body_-_Repair":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Response Body","value":"Sorry to hear you have a broken @{if(contains(triggerBody()?['request']?['intent']?['slots']?['device'], 'value'), triggerBody()?['request']?['intent']?['slots']?['device']?['value'], 'device')}@{if(contains(triggerBody()?['request']?['intent']?['slots']?['date'], 'value'),concat( '. We will endeavour to send an engineer on ',triggerBody()?['request']?['intent']?['slots']?['date']?['value']),'')}"}}}},"Case_3":{"case":"emergency","actions":{"Set_Body_-_Emergency":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Response Body","value":"Oh No! Big Energy Co has been informed. We will get to you as soon as possible"}}}}},"default":{"actions":{"Set_Body_-_Defaut":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Response Body","value":"Ok, Big Energy Co has got your request"}}}},"expression":"@triggerBody()?['request']?['intent']?['name']","type":"Switch"},"Positive_response":{"runAfter":{"Switch":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"response":{"outputSpeech":{"text":"@{variables('Response Body')} . One of our support specialist will contact you within the hour to confirm the scheduled time for our engineer","type":"PlainText"}},"version":"1.0"}}}},"runAfter":{"List_records":["Succeeded"]},"else":{"actions":{"Not_a_customer":{"runAfter":{},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"response":{"outputSpeech":{"text":"Hi, Big Energy Co here. Unfortunately, @{variables('Contact Email')} is not registered with us for the Alexa App. Please contact 01234 567890 during office hours to configure your account","type":"PlainText"},"card":{"type":"Standard","title":"Big Energy Co","text":". Unfortunately, @{variables('Contact Email')} is not registered with us for the Alexa App. Please contact 01234 567890 during office hours to configure your account"}},"version":"1.0"}}},"Terminate_2":{"runAfter":{"Not_a_customer":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"equals":["@length(body('List_records')?['value'])",1]},"type":"If"},"Contact_Id":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Contact Id","type":"String"}]}},"Account_Id":{"runAfter":{"Contact_Id":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Account Id","type":"String"}]}},"Call_WorkOrder_Creation":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://prod-04.uksouth.logic.azure.com:443/workflows/7c0df4d64a8b45ed8e549047c5f4ed77/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=pDb34LVAXdzTaIHAyH9naUT7JXrDEFaSveF9HwD5MwM","body":{"email":"@variables('Contact Email')","contactId":"@variables('Contact Id')","accountId":"@variables('Account Id')","intent":"@triggerBody()?['request']?['intent']?['name']","date":"@triggerBody()?['request']?['intent']?['slots']?['date']?['value']"}}},"Apply_to_each":{"foreach":"@body('List_records')?['value']","actions":{"Set_Contact_Id":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Contact Id","value":"@items('Apply_to_each')?['contactid']"}},"Set_Account_Id":{"runAfter":{"Set_Contact_Id":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Account Id","value":"@items('Apply_to_each')?['_parentcustomerid_value']"}},"Get_record":{"runAfter":{"Set_Account_Id":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org771ee953.crm11'))}/tables/@{encodeURIComponent(encodeURIComponent('accounts'))}/items/@{encodeURIComponent(encodeURIComponent(variables('Account Id')))}","authentication":"@parameters('$authentication')"}},"Update_a_record":{"runAfter":{"Get_record":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"name":"test","address1_line2":"dfd","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('accounts'))}/items/@{encodeURIComponent(encodeURIComponent(variables('Account Id')))}","authentication":"@parameters('$authentication')"}},"Delete_a_record":{"runAfter":{"Update_a_record":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"DeleteItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"delete","path":"/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('accounts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Update_a_record')?['accountid']))}","authentication":"@parameters('$authentication')"}}},"runAfter":{"Check_if_Contact_registered":["Succeeded"]},"type":"Foreach"},"Response_Body":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Response Body","type":"String","value":"@triggerBody()?['request']?['intent']?['slots']?['device']?['value']"}]}},"Initialize_variable":{"runAfter":{"Account_Id":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Contact First Name","type":"String"}]}},"Send_an_email_(V2)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365_1']['connectionId']"}},"method":"post","body":{"To":"cooky@ccdemo0820.onmicrosoft.com","Subject":"test","Body":"<p>@{triggerBody()}</p>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}},"List_records":{"runAfter":{"Contact_Email_Address":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('contacts'))}/items","queries":{"$filter":"emailaddress1 eq '@{variables('Contact Email')}'","$orderby":"dff","$top":1,"$expand":"dfafdf"},"authentication":"@parameters('$authentication')"}},"List_teams":{"runAfter":{"Add_a_member_to_a_team":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetAllTeams"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"}},"method":"get","path":"/beta/me/joinedTeams","authentication":"@parameters('$authentication')"}},"Add_a_member_to_a_team":{"runAfter":{"Call_WorkOrder_Creation":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"AddMemberToTeam"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"}},"method":"post","body":{"userId":"@variables('Account Id')","owner":false},"path":"/beta/teams/@{encodeURIComponent('7c6e3b84-0897-43e2-af2a-c45316d4c8d9')}/members","authentication":"@parameters('$authentication')"}},"Scope":{"actions":{"Get_Email_address_of_user":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"https://api.eu.amazonalexa.com/v2/accounts/~current/settings/Profile.email","headers":{"Authorization":"Bearer @{triggerBody()?['context']?['System']?['apiAccessToken']}"}}},"Check_Consent_requested_already":{"actions":{},"runAfter":{"Get_Email_address_of_user":["Succeeded"]},"else":{"actions":{"Respond_asking_for_permissions":{"runAfter":{},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":{"version":"1.0","response":{"card":{"type":"AskForPermissionsConsent","permissions":["alexa::profile:email:read"]}}}}},"Terminate":{"runAfter":{"Respond_asking_for_permissions":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"equals":["@outputs('Get_Email_address_of_user')['statusCode']",200]},"type":"If"},"Compose_2":{"runAfter":{"Check_Consent_requested_already":["Succeeded"]},"type":"Compose","inputs":"testing"},"Create_CSV_table":{"runAfter":{"Compose_2":["Succeeded"]},"type":"Table","inputs":{"from":"@triggerBody()?['context']","format":"CSV","columns":[{"header":"123","value":"33"}]}},"Create_HTML_table":{"runAfter":{"Create_CSV_table":["Succeeded"]},"type":"Table","inputs":{"from":"@outputs('Compose_2')","format":"HTML"}},"Filter_array":{"runAfter":{"Create_HTML_table":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('Compose_2')","where":"@equals(triggerBody(), 'dave')"}},"Join":{"runAfter":{"Filter_array":["Succeeded"]},"type":"Join","inputs":{"from":"@body('Filter_array')","joinWith":"@body('Create_HTML_table')"}},"Parse_JSON":{"runAfter":{"Join":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Join')","schema":{"type":"object","properties":{"dave":{"type":"string"}}}}},"Select":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Select","inputs":{"from":"@outputs('Compose_2')","select":{"@body('Parse_JSON')?['dave']":"23"}}}},"runAfter":{"Response_Body":["Succeeded"]},"type":"Scope"},"Do_until":{"actions":{},"runAfter":{"Scope":["Succeeded"]},"expression":"@not(contains(variables('Contact First Name'), 'tes'))","limit":{"count":150,"timeout":"PT1F"},"type":"Until"},"Delete_a_row":{"runAfter":{"Create_contact_(V2)":["Succeeded"]},"metadata":{"01YMJ2H4GE6YFJX2IHXZDIWSN2IPRW6D5G":"/Book.xlsx"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_excelonlinebusiness']['connectionId']"}},"method":"delete","path":"/drives/@{encodeURIComponent('b!qsOol8I1JkCSzCFFDj0umR4FJMe3XyxGhC2PoU7O9crCfhlPOfG3RqJtfJVMDF_O')}/files/@{encodeURIComponent('01YMJ2H4GE6YFJX2IHXZDIWSN2IPRW6D5G')}/tables/@{encodeURIComponent('{6F9C3FD1-BF46-4879-9E73-0C65B1534BE3}')}/items/@{encodeURIComponent(encodeURIComponent('32'))}","queries":{"source":"me","idColumn":"test"},"authentication":"@parameters('$authentication')"}},"Create_contact_(V2)":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365_1']['connectionId']"}},"method":"post","body":{"givenName":"dave","homePhones":["123"]},"path":"/codeless/v1.0/me/contactFolders/@{encodeURIComponent(encodeURIComponent('AAMkADkyZGZjNDFlLTQ2MTEtNGYzYy1iYTA1LTc0NGM1MTMzNDY1ZAAuAAAAAADFyqqasOb4Q6jYM8O7HCZlAQDZ-VcVc7Z4SqVSUL_n4LTIAAAAAAEOAAA='))}/contacts","authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}