Alexa/Workflows/Alexa--CreateWorkOrder-B2455CA0-08CB-E911-A830-000D3A34E879.json
{"properties":{"connectionReferences":{"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"email":{"type":"string"},"contactId":{"type":"string"},"accountId":{"type":"string"},"intent":{"type":"string"},"date":{"type":"string"}}},"method":"POST"}}},"actions":{"Get_Work_Order_Type":{"runAfter":{"Get_record":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('msdyn_workordertypes'))}/items","queries":{"$filter":"cc_alexaintent eq '@{triggerBody()?['intent']}'"},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Work Order Type Id","type":"String"}]}},"Apply_to_each":{"foreach":"@body('Get_Work_Order_Type')?['value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Work Order Type Id","value":"@items('Apply_to_each')?['msdyn_workordertypeid']"}}},"runAfter":{"Get_Work_Order_Type":["Succeeded"]},"type":"Foreach"},"Get_record":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('accounts'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['accountId']))}","authentication":"@parameters('$authentication')"}},"Create_a_new_record":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PostItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"post","body":{"msdyn_systemstatus":690970000,"msdyn_taxable":false,"msdyn_name":"A-@{rand(10000,100000)}","_msdyn_pricelist_value":"@body('Get_record')?['_defaultpricelevelid_value']","_msdyn_serviceaccount_value":"@triggerBody()?['accountId']","_msdyn_workordertype_value":"@variables('Work Order Type Id')","_msdyn_reportedbycontact_value":"@triggerBody()?['contactId']","msdyn_datewindowend":"@triggerBody()?['date']","msdyn_datewindowstart":"@triggerBody()?['date']","msdyn_followuprequired":false,"msdyn_isfollowup":false,"msdyn_ismobile":false,"_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org771ee953.crm11'))}/tables/@{encodeURIComponent(encodeURIComponent('msdyn_workorders'))}/items","authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}