Freezer/Workflows/FreezerCold-49C17C25-6722-EA11-A810-000D3A86B0B8.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{}}}},"actions":{"Get_items":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://m365x671238.sharepoint.com/sites/Freezer","table":"e5df54ab-9a88-423d-928b-8f1577072637","$filter":"Cold eq null"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Update_item":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://m365x671238.sharepoint.com/sites/Freezer","table":"e5df54ab-9a88-423d-928b-8f1577072637","id":"@items('Apply_to_each')?['ID']","item/Title":"Freezer Cold","item/Cold":"@utcNow()"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_items":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}