Freezer/Workflows/FreezerLog-4A7B2840-5E22-EA11-A810-000D3A86B0B8.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_sharepointonline"}},"shared_gmail":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_gmail"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"delay":{"type":"string"},"ID":{"type":"integer"}}}}}},"actions":{"Initialize_Cold":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"freezerCold","type":"Boolean","value":false}]}},"Init_Sharepoint_Id":{"runAfter":{"Initialize_Cold":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"SharePoint ID","type":"Integer"}]}},"Get_items":{"runAfter":{"Condition_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://m365x671238.sharepoint.com/sites/Freezer","table":"e5df54ab-9a88-423d-928b-8f1577072637","$filter":"ID eq @{variables('SharePoint ID')} and Cold ne null"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Update_item":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://m365x671238.sharepoint.com/sites/Freezer","table":"e5df54ab-9a88-423d-928b-8f1577072637","id":"@items('Apply_to_each')?['ID']","item/Title":"Cancelled"},"authentication":"@parameters('$authentication')"}},"Set_variable_2":{"runAfter":{"Update_item":["Succeeded"]},"type":"SetVariable","inputs":{"name":"freezerCold","value":true}}},"runAfter":{"Get_items":["Succeeded"]},"type":"Foreach"},"Condition":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"Apply_to_each":["Succeeded"]},"expression":{"equals":["@variables('freezerCold')",true]},"type":"If"},"Send_email":{"runAfter":{"Condition":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_gmail","connectionName":"shared_gmail","operationId":"SendEmail"},"parameters":{"emailMessage/To":"@if(empty(triggerBody()?['delay']),'carl.cookson@gmail.com','carl.cookson@gmail.com')","emailMessage/Subject":"Check the Freezer"},"authentication":"@parameters('$authentication')"}},"HTTP":{"runAfter":{"Send_email":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://prod-22.uksouth.logic.azure.com:443/workflows/7ed8c4f02f7c4ae0ab9d05b1e425e825/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=QpsRa1fFUBFHgMBOeM1doGQp9IjfHzcKmDI87pHsw_Y","body":{"delay":"60","ID":"@variables('SharePoint ID')"}}},"Condition_2":{"actions":{"Create_Sharepoint_Hot_Log":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://m365x671238.sharepoint.com/sites/Freezer","table":"e5df54ab-9a88-423d-928b-8f1577072637","item/Title":"Freezer Hot","item/Hot":"@utcNow()"},"authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{"Create_Sharepoint_Hot_Log":["Succeeded"]},"type":"SetVariable","inputs":{"name":"SharePoint ID","value":"@outputs('Create_Sharepoint_Hot_Log')?['body/ID']"}},"Delay":{"runAfter":{"Set_variable":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":30,"unit":"Minute"}}}},"runAfter":{"Init_Sharepoint_Id":["Succeeded"]},"else":{"actions":{"Delay_2":{"runAfter":{},"type":"Wait","inputs":{"interval":{"count":60,"unit":"Minute"}}},"Set_variable_3":{"runAfter":{"Delay_2":["Succeeded"]},"type":"SetVariable","inputs":{"name":"SharePoint ID","value":"@triggerBody()?['ID']"}}}},"expression":{"equals":["@empty(triggerBody()?['delay'])",true]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}