BlogBits/Workflows/1test-44BEFAE4-7A02-EB11-A813-000D3A7FC45E.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_microsoftforms":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_microsoftforms"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook","apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms"},"parameters":{"form_id":"udmVTlmLuE-O7deQS7Ly4DVebChL8JRPsYhj6jRbiv5URVYxVTFJUUdOMEo1Qlo3V1M5TEMxQ1BLSy4u"},"authentication":"@parameters('$authentication')"}}},"actions":{"Create_a_new_record":{"runAfter":{"Delete_a_record_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","item/name":"test","item/address1_city":"233","item/accountcategorycode":1,"item/msdyn_taxexempt":true},"authentication":"@parameters('$authentication')"}},"Delete_a_record":{"runAfter":{"Create_a_new_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"dsfdf"},"authentication":"@parameters('$authentication')"}},"Get_a_record":{"runAfter":{"Delete_a_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accountleadscollection","recordId":"dfdf","$select":"adf","$expand":"dfd"},"authentication":"@parameters('$authentication')"}},"Get_file_or_image_content":{"runAfter":{"Get_a_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetEntityFileImageFieldContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"1232","fileImageFieldName":"entityimage","size":"23"},"authentication":"@parameters('$authentication')"}},"List_records":{"runAfter":{"Get_file_or_image_content":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","$select":"dfdf","$filter":"dfdf","$orderby":"fdfd","$expand":"fdfd","fetchXml":"dffd","$top":1,"$skiptoken":"d"},"authentication":"@parameters('$authentication')"}},"Perform_a_bound_action":{"runAfter":{"List_records":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"incidents","actionName":"Microsoft.Dynamics.CRM.msdyn_GetCaseSuggestions","recordId":"123","item/Count":1},"authentication":"@parameters('$authentication')"}},"Perform_an_unbound_action":{"runAfter":{"Perform_a_bound_action":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformUnboundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"actionName":"AddListMembersList","item/List/traversedpath":"f"},"authentication":"@parameters('$authentication')"}},"Relate_records":{"runAfter":{"Perform_an_unbound_action":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"23","associationEntityRelationship":"msa_account_managingpartner","item/@odata.id":"fdf"},"authentication":"@parameters('$authentication')"}},"Unrelate_records":{"runAfter":{"Relate_records":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DisassociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"1232","associationEntityRelationship":"account_actioncard","$id":"fdf"},"authentication":"@parameters('$authentication')"}},"Update_a_record":{"runAfter":{"Unrelate_records":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"123","item/address1_line2":"ff","item/telephone1":"123"},"authentication":"@parameters('$authentication')"}},"Upload_file_or_image_content":{"runAfter":{"Update_a_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateEntityFileImageFieldContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"123","fileImageFieldName":"entityimage","item":"df","x-ms-file-name":"Untitled"},"authentication":"@parameters('$authentication')"}},"Executes_a_changeset_request":{"actions":{"Update_a_record_2":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"gfg","item/name":"12"},"authentication":"@parameters('$authentication')"}},"Delete_a_record_2":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"fdf"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Upload_file_or_image_content":["Succeeded"]},"type":"Changeset","kind":"ODataOpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ExecuteChangeset","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"}}},"Create_a_new_record_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"accounts","item/name":"dfd","item/address1_city":"df","item/creditonhold":false,"item/donotbulkemail":false,"item/donotbulkpostalmail":false,"item/donotemail":false,"item/donotfax":false,"item/donotpostalmail":false,"item/donotphone":false,"item/followemail":true,"item/marketingonly":false,"item/participatesinworkflow":false,"item/donotsendmm":false,"item/msdyn_taxexempt":false,"item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}},"Get_record":{"runAfter":{"Create_a_new_record_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"org771ee953.crm11","table":"accounts","id":"32"},"authentication":"@parameters('$authentication')"}},"List_records_2":{"runAfter":{"Get_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"accounts","$filter":"fd"},"authentication":"@parameters('$authentication')"}},"Update_a_record_3":{"runAfter":{"List_records_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"accounts","id":"df","item/name":"fddf","item/address1_city":"ff","item/_ownerid_type":""},"authentication":"@parameters('$authentication')"}},"Delete_a_record_3":{"runAfter":{"Update_a_record_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"DeleteItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"org771ee953.crm11","table":"accounts","id":"fdd"},"authentication":"@parameters('$authentication')"}}}}},"schemaVersion":"1.0.0.0"}