BlogBits/Workflows/1test-44BEFAE4-7A02-EB11-A813-000D3A7FC45E.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_azuread":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_azuread"}},"shared_sharepointonline":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Create_a_new_record_2":{"runAfter":{"Update_item":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"accounts","item/name":"dfd","item/address1_city":"df","item/creditonhold":false,"item/donotbulkemail":false,"item/donotbulkpostalmail":false,"item/donotemail":false,"item/donotfax":false,"item/donotpostalmail":false,"item/donotphone":false,"item/followemail":true,"item/marketingonly":false,"item/participatesinworkflow":false,"item/donotsendmm":false,"item/msdyn_taxexempt":false,"item/_ownerid_type":""},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_record":{"runAfter":{"Create_a_new_record_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"org771ee953.crm11","table":"accounts","id":"32"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_records_2":{"runAfter":{"Get_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"accounts","$filter":"fd"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_3":{"foreach":"@outputs('List_records_2')?['body/value']","actions":{"Condition":{"actions":{"Parse_JSON":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@outputs('List_records_2')?['body']","schema":{"type":"object","properties":{"d":{"type":"object","properties":{"results":{"type":"array","items":{"type":"object","properties":{"__metadata":{"type":"object","properties":{"id":{"type":"string"},"uri":{"type":"string"},"type":{"type":"string"}}},"Id":{"type":"integer"},"Title":{"type":"string"}},"required":["__metadata","Id","Title"]}}}}}}}},"Apply_to_each":{"foreach":"@outputs('List_records_2')?['body/value']","actions":{"Update_a_record_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PatchItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"accounts","id":"df","item/name":"fddf","item/address1_city":"ff","item/_ownerid_type":""},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Delete_a_record_3":{"runAfter":{"Get_user":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"DeleteItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"org771ee953.crm11","table":"accounts","id":"fdd"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_2":{"foreach":"@outputs('List_records_2')?['body/value']","actions":{"Create_a_new_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","item/name":"test","item/address1_city":"233","item/accountcategorycode":1,"item/msdyn_taxexempt":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_a_record":{"runAfter":{"Create_a_new_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accountleadscollection","recordId":"dfdf","$select":"adf","$expand":"dfd"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Delete_a_record_3":["Succeeded"]},"type":"Foreach"},"Delete_a_record":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"dsfdf"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_user":{"runAfter":{"Update_a_record_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_azuread","operationId":"GetUser","apiId":"/providers/Microsoft.PowerApps/apis/shared_azuread"},"parameters":{"id":"cooky@ccdemo0820.onmicrosoft.com"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Foreach"}},"runAfter":{},"else":{"actions":{"Condition_2":{"actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"frt"}},"runAfter":{},"else":{"actions":{"Compose_2":{"runAfter":{},"type":"Compose","inputs":"ff"}}},"expression":{"equals":["@items('Apply_to_each_3')?['accountnumber']",2]},"type":"If"}}},"expression":{"equals":["@items('Apply_to_each_3')?['name']","dave"]},"type":"If"}},"runAfter":{"List_records_2":["Succeeded"]},"type":"Foreach"},"Get_all_lists_and_libraries":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetAllTables","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Add_attachment":{"runAfter":{"Get_all_lists_and_libraries":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateAttachment","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"ea630779-7a5b-4c02-aafa-8fa1f992491f","itemId":123,"displayName":"fdfd","body":"dfd"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Approve_hub_site_join_request":{"runAfter":{"Add_attachment":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"ApproveHubSiteJoin","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","joiningSiteId":"dfd"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Cancel_hub_site_join_request":{"runAfter":{"Approve_hub_site_join_request":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CancelHubSiteJoinApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","approvalCorrelationId":"dfd"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Check_in_file":{"runAfter":{"Cancel_hub_site_join_request":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CheckInFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"cb934bc9-b9a4-4ac7-9aac-152ccce6f296","id":123,"parameter/comment":"fdfd","parameter/checkinType":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Check_out_file":{"runAfter":{"Check_in_file":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CheckOutFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"cb934bc9-b9a4-4ac7-9aac-152ccce6f296","id":123},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Copy_file":{"runAfter":{"Check_out_file":["Succeeded"]},"metadata":{"%252fFormServerTemplates%252fForms%252fAll%2bForms.aspx":"/FormServerTemplates/Forms/All Forms.aspx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CopyFileAsync","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","parameters/sourceFileId":"%252fFormServerTemplates%252fForms%252fAll%2bForms.aspx","parameters/destinationDataset":"https://ccdemo0820.sharepoint.com/sites/newsite","parameters/destinationFolderPath":"/images","parameters/nameConflictBehavior":2},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Copy_folder":{"runAfter":{"Copy_file":["Succeeded"]},"metadata":{"%252fimages":"/images"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CopyFolderAsync","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","parameters/sourceFolderId":"%252fimages","parameters/destinationDataset":"https://ccdemo0820.sharepoint.com/sites/newsite","parameters/destinationFolderPath":"/IWConvertedForms","parameters/nameConflictBehavior":2},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Create_file":{"runAfter":{"Copy_folder":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","folderPath":"/images","name":"fd","body":"adsf"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Create_item":{"runAfter":{"Create_file":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"ea630779-7a5b-4c02-aafa-8fa1f992491f","view":"46426c32-4b02-4527-adb8-d83655f38541","item/Title":"cvc"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Create_new_folder":{"runAfter":{"Create_item":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateNewFolder","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"cb934bc9-b9a4-4ac7-9aac-152ccce6f296","parameters/path":"dfd"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Create_sharing_link_for_a_file_or_folder":{"runAfter":{"Create_new_folder":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CreateSharingLink","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"cb934bc9-b9a4-4ac7-9aac-152ccce6f296","id":123,"permission/type":"edit","permission/scope":"organization","permission/expirationDateTime":"@utcNow()"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Discard_check_out":{"runAfter":{"Create_sharing_link_for_a_file_or_folder":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"DiscardFileCheckOut","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"cb934bc9-b9a4-4ac7-9aac-152ccce6f296","id":123},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_attachments":{"runAfter":{"Discard_check_out":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItemAttachments","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"ea630779-7a5b-4c02-aafa-8fa1f992491f","itemId":"123"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_changes_for_an_item_or_a_file_(properties_only)":{"runAfter":{"Get_attachments":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItemChanges","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"cb934bc9-b9a4-4ac7-9aac-152ccce6f296","id":123,"since":"@utcNow()","until":"fd","includeDrafts":true,"view":"c18e597e-a2b0-414f-b3dc-0f111d0422db"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_file_properties":{"runAfter":{"Get_changes_for_an_item_or_a_file_(properties_only)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetFileItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"cb934bc9-b9a4-4ac7-9aac-152ccce6f296","id":123,"view":"c18e597e-a2b0-414f-b3dc-0f111d0422db"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_files_(properties_only)":{"runAfter":{"Get_file_properties":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetFileItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"cb934bc9-b9a4-4ac7-9aac-152ccce6f296","viewScopeOption":"RecursiveAll","$filter":"df","$orderby":"fd","$top":1,"view":"c18e597e-a2b0-414f-b3dc-0f111d0422db"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_items":{"runAfter":{"Get_files_(properties_only)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"ea630779-7a5b-4c02-aafa-8fa1f992491f","folderPath":"/images","$filter":"c","$orderby":"c","$top":2,"view":"46426c32-4b02-4527-adb8-d83655f38541"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Grant_access_to_an_item_or_a_folder":{"runAfter":{"Get_items":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GrantAccess","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"ea630779-7a5b-4c02-aafa-8fa1f992491f","id":23,"parameter/recipients":"carl.cookson@gmail.com; cooky@linked365.blog","parameter/roleValue":"role:1073741827","parameter/emailBody":"dfd","parameter/sendEmail":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Join_hub_site":{"runAfter":{"Grant_access_to_an_item_or_a_folder":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"JoinHubSite","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","hubSiteId":"123"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_folder":{"runAfter":{"Join_hub_site":["Succeeded"]},"metadata":{"%252fimages":"/images"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"ListFolder","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","id":"%252fimages"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Move_file":{"runAfter":{"List_folder":["Succeeded"]},"metadata":{"%252fFormServerTemplates%252fForms%252fAll%2bForms.aspx":"/FormServerTemplates/Forms/All Forms.aspx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"MoveFileAsync","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","parameters/sourceFileId":"%252fFormServerTemplates%252fForms%252fAll%2bForms.aspx","parameters/destinationDataset":"https://ccdemo0820.sharepoint.com/sites/newsite","parameters/destinationFolderPath":"/images","parameters/nameConflictBehavior":0},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Move_folder":{"runAfter":{"Move_file":["Succeeded"]},"metadata":{"%252fFormServerTemplates%252fForms%252fInfoPath%2bForm%2bTemplate":"/FormServerTemplates/Forms/InfoPath Form Template"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"MoveFolderAsync","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","parameters/sourceFolderId":"%252fFormServerTemplates%252fForms%252fInfoPath%2bForm%2bTemplate","parameters/destinationDataset":"https://ccdemo0820.sharepoint.com/sites/newsite","parameters/destinationFolderPath":"/images@{outputs('Move_file')?['body/ItemId']}","parameters/nameConflictBehavior":0},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Send_an_HTTP_request_to_SharePoint":{"runAfter":{"Move_folder":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"HttpRequest","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","parameters/method":"GET","parameters/uri":"fdf","parameters/headers":{"fd":"fd"},"parameters/body":"fdf"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_content_approval_status":{"runAfter":{"Send_an_HTTP_request_to_SharePoint":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"SetApprovalStatus","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"cb934bc9-b9a4-4ac7-9aac-152ccce6f296","id":123,"approvalAction":"Submit","comments":"vc","entityTag":"fdfd"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_hub_site_join_status_to_pending":{"runAfter":{"Set_content_approval_status":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"NotifyHubSiteJoinApprovalStarted","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","approvalCorrelationId":"123"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Stop_sharing_an_item_or_a_file":{"runAfter":{"Set_hub_site_join_status_to_pending":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"UnshareItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"cb934bc9-b9a4-4ac7-9aac-152ccce6f296","id":123},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Copy_file_(deprecated)":{"runAfter":{"Stop_sharing_an_item_or_a_file":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"CopyFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","source":"dfd","destination":"fdf","overwrite":false},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Delete_attachment":{"runAfter":{"Copy_file_(deprecated)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"DeleteAttachment","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"ea630779-7a5b-4c02-aafa-8fa1f992491f","itemId":123,"attachmentId":"dsfd"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Delete_file":{"runAfter":{"Delete_attachment":["Succeeded"]},"metadata":{"%252fFormServerTemplates%252fForms%252fAll%2bForms.aspx":"/FormServerTemplates/Forms/All Forms.aspx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"DeleteFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","id":"%252fFormServerTemplates%252fForms%252fAll%2bForms.aspx"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_attachment_content":{"runAfter":{"Delete_file":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetAttachmentContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"ea630779-7a5b-4c02-aafa-8fa1f992491f","itemId":123,"attachmentId":"sdf"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_file_content":{"runAfter":{"Get_attachment_content":["Succeeded"]},"metadata":{"%252fFormServerTemplates%252fForms%252fAll%2bForms.aspx":"/FormServerTemplates/Forms/All Forms.aspx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetFileContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","id":"%252fFormServerTemplates%252fForms%252fAll%2bForms.aspx","inferContentType":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_file_content_using_path":{"runAfter":{"Get_file_content":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetFileContentByPath","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","path":"/FormServerTemplates/Forms/All Forms.aspx","inferContentType":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_file_metadata":{"runAfter":{"Get_file_content_using_path":["Succeeded"]},"metadata":{"%252fFormServerTemplates%252fForms%252fAll%2bForms.aspx":"/FormServerTemplates/Forms/All Forms.aspx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetFileMetadata","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","id":"%252fFormServerTemplates%252fForms%252fAll%2bForms.aspx"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_file_metadata_using_path":{"runAfter":{"Get_file_metadata":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetFileMetadataByPath","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","path":"/FormServerTemplates/Forms/All Forms.aspx"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_folder_metadata":{"runAfter":{"Get_file_metadata_using_path":["Succeeded"]},"metadata":{"%252fimages":"/images"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetFolderMetadata","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","id":"%252fimages"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_folder_metadata_using_path":{"runAfter":{"Get_folder_metadata":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetFolderMetadataByPath","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","path":"/images"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_item":{"runAfter":{"Get_folder_metadata_using_path":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"ea630779-7a5b-4c02-aafa-8fa1f992491f","id":123},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_list_views":{"runAfter":{"Get_item":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetTableViews","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"ea630779-7a5b-4c02-aafa-8fa1f992491f"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_lists":{"runAfter":{"Get_list_views":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetTables","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"description":"fdf"},"List_root_folder":{"runAfter":{"Get_lists":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"ListRootFolder","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_file":{"runAfter":{"List_root_folder":["Succeeded"]},"metadata":{"%252fFormServerTemplates%252fForms%252fAll%2bForms.aspx":"/FormServerTemplates/Forms/All Forms.aspx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"UpdateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","id":"%252fFormServerTemplates%252fForms%252fAll%2bForms.aspx","body":"fdd"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_file_properties":{"runAfter":{"Update_file":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PatchFileItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"cb934bc9-b9a4-4ac7-9aac-152ccce6f296","id":123,"item/Title":"dfd"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_item":{"runAfter":{"Update_file_properties":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"PatchItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"ea630779-7a5b-4c02-aafa-8fa1f992491f","id":123,"view":"46426c32-4b02-4527-adb8-d83655f38541","item/Title":"dfd"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}}},"schemaVersion":"1.0.0.0"}