BlogBits/Workflows/3test-19512B9E-B90B-EB11-A813-000D3A7FC45E.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cc_sharedcommondataserviceforapps_1af31"},"api":{"name":"shared_commondataserviceforapps"}},"shared_msnweather":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cc_sharedmsnweather_66371"},"api":{"name":"shared_msnweather"}},"shared_powerappsforappmakers":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cc_sharedpowerappsforappmakers_411e2"},"api":{"name":"shared_powerappsforappmakers"}},"shared_commondataservice":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cc_sharedcommondataservice_8af1b"},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"text":{"title":"Input","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"boolean":{"title":"Yes/No","type":"boolean","x-ms-dynamically-added":true,"description":"Please select yes or no","x-ms-content-hint":"BOOLEAN"}},"required":["text","boolean"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"operationId":"GetOnNewItems_V2","parameters":{"dataset":"default.cds","table":"accounts"}}}},"actions":{"Scope":{"actions":{"List_records_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","fetchXml":"<fetch></fetch>","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_records_3":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","fetchXml":"<fetch></fetch>","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each":{"foreach":"@outputs('List_records_2')?['body/value']","actions":{"Get_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@items('Apply_to_each')?['accountid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_a_record":{"runAfter":{"Get_a_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_a_record')?['body/accountid']","item/name":"@variables('email')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_records_2":["Succeeded"]},"type":"Foreach"},"Apply_to_each_2":{"foreach":"@outputs('List_records_3')?['body/value']","actions":{"Get_a_record_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@items('Apply_to_each_2')?['accountid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_a_record_2":{"runAfter":{"Get_a_record_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_a_record_2')?['body/accountid']","item/name":"@variables('email')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_records_3":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Scope"},"Initialize_variable":{"runAfter":{"Set_App_Display_Name":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"email","type":"string"}]}},"Scope_2":{"actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"email","value":"dfdf"}},"Compose":{"runAfter":{"Set_variable":["Succeeded"]},"type":"Compose","inputs":"dada"},"Condition":{"actions":{"Get_forecast_for_today":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_msnweather","operationId":"TodaysForecast","apiId":"/providers/Microsoft.PowerApps/apis/shared_msnweather"},"parameters":{"Location":"london","units":"Imperial"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Compose":["Succeeded"]},"else":{"actions":{"List_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"equals":["","dave"]},"type":"If"}},"runAfter":{"Scope":["Succeeded"]},"type":"Scope"},"Edit_App_Role_Assignment":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforappmakers","operationId":"Edit-AppRoleAssignment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"},"parameters":{"app":"dfd","api-version":"2016-11-01","$filter":"environment eq ''","Content-Type":"application/json","body/delete":[{"id":"fdfd"}],"body/put":[{"properties/principal/email":"test","properties/principal/tenantId":"fd"}]},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Edit_Connection_Role_Assignment":{"runAfter":{"Edit_Connector_Role_Assignment":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforappmakers","operationId":"Edit-ConnectionRoleAssignment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"},"parameters":{"connectorName":"fd","connectionName":"fd","api-version":"2016-11-01","$filter":"environment eq ''","Content-Type":"application/json","body/delete":[{"id":"dfd"},{"id":"dfdfd"}],"body/put":[{"properties/principal/email":"fdf"}]},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Edit_Connector_Role_Assignment":{"runAfter":{"Edit_App_Role_Assignment":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforappmakers","operationId":"Edit-ConnectorRoleAssignment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"},"parameters":{"connectorName":"dfdfd","api-version":"2017-06-01","$filter":"environment eq ''","Content-Type":"application/json","body/delete":[{"id":"dfd"}],"body/put":[{"properties/principal/email":"fdfd"}]},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_App":{"runAfter":{"Edit_Connection_Role_Assignment":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforappmakers","operationId":"Get-App","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"},"parameters":{"app":"fdfd","api-version":"2016-11-01"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_App_Role_Assignments":{"runAfter":{"Get_App":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforappmakers","operationId":"Get-AppRoleAssignment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"},"parameters":{"app":"fdfd","api-version":"2017-06-01","$top":250},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_App_Versions":{"runAfter":{"Get_App_Role_Assignments":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforappmakers","operationId":"Get-AppVersions","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"},"parameters":{"app":"dfd","api-version":"2017-06-01","$top":250},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Apps":{"runAfter":{"Get_App_Versions":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforappmakers","operationId":"Get-Apps","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"},"parameters":{"api-version":"2016-11-01","$filter":"fd","$top":250},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Connection_Role_Assignment":{"runAfter":{"Get_Apps":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforappmakers","operationId":"Get-ConnectionRoleAssignment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"},"parameters":{"connectorName":"dfd","connectionName":"dfd","api-version":"2017-06-01","$filter":"environment eq ''","$top":250},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Connections":{"runAfter":{"Get_Connection_Role_Assignment":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforappmakers","operationId":"Get-Connections","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"},"parameters":{"api-version":"2016-11-01","$filter":"environment eq ''","$top":250},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Connector":{"runAfter":{"Get_Connections":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforappmakers","operationId":"Get-Connector","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"},"parameters":{"connectorName":"dfd","$filter":"fd","api-version":"2016-11-01"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Connector_Role_Assignment":{"runAfter":{"Get_Connector":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforappmakers","operationId":"Get-ConnectorRoleAssignment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"},"parameters":{"connectorName":"fdf","api-version":"2017-06-01","$filter":"environment eq ''","$top":250},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Connectors":{"runAfter":{"Get_Connector_Role_Assignment":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforappmakers","operationId":"Get-Connectors","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"},"parameters":{"showApisWithToS":"true","$filter":"fdf","api-version":"2016-11-01","$top":250},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Environments":{"runAfter":{"Get_Connectors":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforappmakers","operationId":"Get-Environments","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"},"parameters":{"api-version":"2016-11-01","$top":250},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Publish_App":{"runAfter":{"Get_Environments":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforappmakers","operationId":"Publish-App","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"},"parameters":{"app":"dfdf","api-version":"2017-06-01"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Remove_App":{"runAfter":{"Publish_App":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforappmakers","operationId":"Remove-App","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"},"parameters":{"app":"dfd","api-version":"2017-06-01"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Remove_Connection":{"runAfter":{"Remove_App":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforappmakers","operationId":"Remove-Connection","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"},"parameters":{"connectorName":"dfd","connectionName":"dfd","api-version":"2017-06-01","$filter":"environment eq ''"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Remove_Connector":{"runAfter":{"Remove_Connection":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforappmakers","operationId":"Remove-Connector","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"},"parameters":{"connectorName":"dfd","api-version":"2017-06-01","$filter":"environment eq ''"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Restore_App_Version":{"runAfter":{"Remove_Connector":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforappmakers","operationId":"Restore-AppVersion","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"},"parameters":{"app":"dfd","appVersionName":"fd","api-version":"2017-06-01"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_App_Display_Name":{"runAfter":{"Restore_App_Version":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforappmakers","operationId":"Set-AppDisplayName","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"},"parameters":{"app":"dfd","api-version":"2017-06-01","Content-Type":"application/json","body/displayName":"fdf"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}