BlogBits/Workflows/3test-19512B9E-B90B-EB11-A813-000D3A7FC45E.json
{"properties":{"connectionReferences":{"shared_msnweather":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cc_sharedmsnweather_66371"},"api":{"name":"shared_msnweather"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cc_sharedcommondataserviceforapps_1af31"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]},"headersSchema":{"x-ms-user-name-encoded":{"title":"User name","type":"string","format":"byte","x-ms-dynamically-added":false}}}}},"actions":{"Scope":{"actions":{"List_records_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","fetchXml":"<fetch></fetch>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_records_3":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","fetchXml":"<fetch></fetch>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each":{"foreach":"@outputs('List_records_2')?['body/value']","actions":{"Get_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@items('Apply_to_each')?['accountid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_a_record":{"runAfter":{"Get_a_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_a_record')?['body/accountid']","item/name":"@variables('email')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_records_2":["Succeeded"]},"type":"Foreach"},"Apply_to_each_2":{"foreach":"@outputs('List_records_3')?['body/value']","actions":{"Get_a_record_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@items('Apply_to_each_2')?['accountid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_a_record_2":{"runAfter":{"Get_a_record_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_a_record_2')?['body/accountid']","item/name":"@variables('email')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_records_3":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Scope"},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"email","type":"string"}]}},"Scope_2":{"actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"email","value":"dfdf"}},"Compose":{"runAfter":{"Set_variable":["Succeeded"]},"type":"Compose","inputs":"dada"},"Condition":{"actions":{"Get_forecast_for_today":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_msnweather","operationId":"TodaysForecast","apiId":"/providers/Microsoft.PowerApps/apis/shared_msnweather"},"parameters":{"Location":"london","units":"Imperial"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Compose":["Succeeded"]},"else":{"actions":{"List_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"equals":["@triggerOutputs()['headers']['x-ms-user-name-encoded']","dave"]},"type":"If"}},"runAfter":{"Scope":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}