BlogBits/Workflows/Button-HTTP-A3CF7CAF-320E-EB11-A813-000D3A7FC45E.json
{"properties":{"connectionReferences":{"shared_wordonlinebusiness":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cc_sharedwordonlinebusiness_0ab11"},"api":{"name":"shared_wordonlinebusiness"}},"shared_onedriveforbusiness":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cc_sharedonedriveforbusiness_4068e"},"api":{"name":"shared_onedriveforbusiness"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"HTTP_trigger":{"recurrence":{"interval":3,"frequency":"Minute"},"type":"Http","inputs":{"method":"GET","uri":"https://www.bbc.co.uk","body":"adfd"}}},"actions":{"HTTP":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"https://bbc.co.uk","headers":{"dfd":"fdf"}}},"Convert_Word_Document_to_PDF":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"01YMJ2H4B7VK5TBHV2FVFYXMQY7E7P6NP4":"/Document.docx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_wordonlinebusiness","operationId":"GetFilePDF","apiId":"/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"},"parameters":{"source":"me","drive":"b!qsOol8I1JkCSzCFFDj0umR4FJMe3XyxGhC2PoU7O9crCfhlPOfG3RqJtfJVMDF_O","file":"01YMJ2H4B7VK5TBHV2FVFYXMQY7E7P6NP4"},"authentication":"@parameters('$authentication')"}},"Create_file":{"runAfter":{"Convert_Word_Document_to_PDF":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"folderPath":"/","name":"fdfd","body":"fdfd"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Move_or_rename_a_file":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"b!qsOol8I1JkCSzCFFDj0umR4FJMe3XyxGhC2PoU7O9crCfhlPOfG3RqJtfJVMDF_O.01YMJ2H4E4OYNZIPJRGFH2QKZ747IMDHWL":"/Data Creation.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"MoveFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"id":"b!qsOol8I1JkCSzCFFDj0umR4FJMe3XyxGhC2PoU7O9crCfhlPOfG3RqJtfJVMDF_O.01YMJ2H4E4OYNZIPJRGFH2QKZ747IMDHWL","destination":"d","overwrite":false},"authentication":"@parameters('$authentication')"}},"Move_or_rename_a_file_using_path":{"runAfter":{"Move_or_rename_a_file":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"MoveFileByPath","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"source":"/Data Creation.xlsx","destination":"d","overwrite":false},"authentication":"@parameters('$authentication')"}},"Update_file":{"runAfter":{"Move_or_rename_a_file_using_path":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"UpdateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"id":" dfd @{outputs('Move_or_rename_a_file_using_path')?['body/Name']}","body":"dfd"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Upload_file_from_URL":{"runAfter":{"Update_file":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"CopyFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"source":"www.bbc.co.uk","destination":"@outputs('Update_file')?['body/DisplayName']","overwrite":false},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}