BlogBits/Workflows/Button-GetConnectors-7BE3BF59-8AB7-EA11-A812-000D3A7FC8BE.json
{"properties":{"connectionReferences":{"shared_flowmanagement":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_flowmanagement"}},"shared_excelonlinebusiness":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_excelonlinebusiness"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_Connectors":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_flowmanagement","operationId":"ListApis","apiId":"/providers/Microsoft.PowerApps/apis/shared_flowmanagement"},"parameters":{"environmentName":"34075137-370f-4576-9056-a8a57c3eb9c1"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Create_worksheet":{"runAfter":{"List_Connectors":["Succeeded"]},"metadata":{"01FXNYGTSNE6Y6TI3VPNB2PNAHY3RSOFIT":"/Connectors.xlsx","tableId":null},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"CreateWorksheet","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"me","drive":"b!Ot5vq3dI_0i8v1asfzYXTTLBFeeUbhdFp7mpxzQ0i6uducDlBihiRoCpahcTbTsi","file":"01FXNYGTSNE6Y6TI3VPNB2PNAHY3RSOFIT","body/name":"@formatDateTime(utcNow(),'yyMMdd')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Create_table":{"runAfter":{"Create_worksheet":["Succeeded"]},"metadata":{"01FXNYGTSNE6Y6TI3VPNB2PNAHY3RSOFIT":"/Connectors.xlsx","tableId":null},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"CreateTable","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"me","drive":"b!Ot5vq3dI_0i8v1asfzYXTTLBFeeUbhdFp7mpxzQ0i6uducDlBihiRoCpahcTbTsi","file":"01FXNYGTSNE6Y6TI3VPNB2PNAHY3RSOFIT","table/Range":"@{formatDateTime(utcNow(),'yyMMdd')}!A1:C1","table/TableName":"Connectors@{formatDateTime(utcNow(),'yyMMdd')}","table/ColumnsNames":"Name;DateCreated;Description;"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}