BlogBits/Workflows/Button-GetConnectors-7BE3BF59-8AB7-EA11-A812-000D3A7FC8BE.json
{"properties":{"connectionReferences":{"shared_flowmanagement_1":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cc_sharedflowmanagement_dc4d0"},"api":{"name":"shared_flowmanagement"}},"shared_excelonlinebusiness_1":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cc_sharedexcelonlinebusiness_01ca2"},"api":{"name":"shared_excelonlinebusiness"}},"shared_office365":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"cc_sharedoffice365_27b0a"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]},"headersSchema":{"x-ms-user-timestamp":{"title":"Timestamp","type":"string","x-ms-dynamically-added":false}}}}},"actions":{"List_Connectors":{"runAfter":{"Create_event_(V4)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_flowmanagement_1","operationId":"ListApis","apiId":"/providers/Microsoft.PowerApps/apis/shared_flowmanagement"},"parameters":{"environmentName":"15a1fec1-1ccc-4940-9d6a-fd622722f998"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Create_worksheet":{"runAfter":{"List_Connectors":["Succeeded"]},"metadata":{"01FXNYGTSNE6Y6TI3VPNB2PNAHY3RSOFIT":"/Connectors.xlsx","tableId":null,"01YMJ2H4GE6YFJX2IHXZDIWSN2IPRW6D5G":"/Book.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness_1","operationId":"CreateWorksheet","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"me","drive":"b!qsOol8I1JkCSzCFFDj0umR4FJMe3XyxGhC2PoU7O9crCfhlPOfG3RqJtfJVMDF_O","file":"01YMJ2H4GE6YFJX2IHXZDIWSN2IPRW6D5G","body/name":"@formatDateTime(utcNow(),'yyMMdd')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Create_table":{"runAfter":{"Create_worksheet":["Succeeded"]},"metadata":{"01FXNYGTSNE6Y6TI3VPNB2PNAHY3RSOFIT":"/Connectors.xlsx","tableId":null,"01YMJ2H4GE6YFJX2IHXZDIWSN2IPRW6D5G":"/Book.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness_1","operationId":"CreateTable","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"me","drive":"b!qsOol8I1JkCSzCFFDj0umR4FJMe3XyxGhC2PoU7O9crCfhlPOfG3RqJtfJVMDF_O","file":"01YMJ2H4GE6YFJX2IHXZDIWSN2IPRW6D5G","table/Range":"@{formatDateTime(utcNow(),'yyMMdd')}!A1:C1","table/TableName":"Connectors@{formatDateTime(utcNow(),'yyMMdd')}","table/ColumnsNames":"Name;DateCreated;Description;"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Delete_a_row":{"runAfter":{"Get_a_row":["Succeeded"]},"metadata":{"01YMJ2H4GE6YFJX2IHXZDIWSN2IPRW6D5G":"/Book.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness_1","operationId":"DeleteItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"me","drive":"b!qsOol8I1JkCSzCFFDj0umR4FJMe3XyxGhC2PoU7O9crCfhlPOfG3RqJtfJVMDF_O","file":"01YMJ2H4GE6YFJX2IHXZDIWSN2IPRW6D5G","table":"{6F9C3FD1-BF46-4879-9E73-0C65B1534BE3}","idColumn":"test","id":"@outputs('Create_table')?['body/title']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_a_row":{"runAfter":{"Create_table":["Succeeded"]},"metadata":{"01YMJ2H4GE6YFJX2IHXZDIWSN2IPRW6D5G":"/Book.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"me","drive":"b!qsOol8I1JkCSzCFFDj0umR4FJMe3XyxGhC2PoU7O9crCfhlPOfG3RqJtfJVMDF_O","file":"01YMJ2H4GE6YFJX2IHXZDIWSN2IPRW6D5G","table":"{6F9C3FD1-BF46-4879-9E73-0C65B1534BE3}","idColumn":"test","id":"@outputs('Create_table')?['body/title']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Create_event_(V4)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"V4CalendarPostItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"table":"AAMkADkyZGZjNDFlLTQ2MTEtNGYzYy1iYTA1LTc0NGM1MTMzNDY1ZABGAAAAAADFyqqasOb4Q6jYM8O7HCZlBwDZ-VcVc7Z4SqVSUL_n4LTIAAAAAAEGAADZ-VcVc7Z4SqVSUL_n4LTIAAAAAGOYAAA=","item/subject":"test","item/start":"@triggerOutputs()['headers']['x-ms-user-timestamp']","item/end":"@triggerOutputs()['headers']['x-ms-user-timestamp']","item/timeZone":"(UTC) Coordinated Universal Time"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}