BlogBits/Workflows/Button-Performanunboundaction-E4D23147-66B4-EA11-A812-000D3A7FC8BE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"cc_schedule","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"List_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"bookableresources","$filter":"_contactid_value eq @{triggerOutputs()?['body/_cc_contact_value']}"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_records')?['body/value']","actions":{"Perform_an_unbound_action":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformUnboundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"actionName":"msdyn_SaveCalendar","item/CalendarEventInfo":"{\n\t\t\"CalendarId\": \"@{items('Apply_to_each')?['_calendarid_value']}\",\n\t\t\"ObjectTypeCode\":1150,\n\t\t\"TimeZoneCode\":92,\n\t\t\"StartDate\":\"@{triggerOutputs()?['body/cc_start']}\",\n\t\t\"Rules\":[{\n\t\t\t\"StartTime\":\"@{triggerOutputs()?['body/cc_start']}\",\n\t\t\t\"EndTime\":\"@{triggerOutputs()?['body/cc_end']}\",\n\t\t\t\"Duration\":@{div(div(mul(sub(ticks(triggerOutputs()?['body/cc_end']),ticks(triggerOutputs()?['body/cc_start'])),100),1000000000),60)}\n\n\t\t}]\n}"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_records":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}