BlogBits/Workflows/test2-7E588BE2-3F06-EB11-A813-000D3A7FC45E.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cc_sharedsharepointonline_42290"},"api":{"name":"shared_sharepointonline"}},"shared_msnweather":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cc_sharedmsnweather_66371"},"api":{"name":"shared_msnweather"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"interval":3,"frequency":"Minute"},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetOnNewItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"ea630779-7a5b-4c02-aafa-8fa1f992491f"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_forecast_for_today":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_msnweather","operationId":"TodaysForecast","apiId":"/providers/Microsoft.PowerApps/apis/shared_msnweather"},"parameters":{"Location":"London","units":"Metric"},"authentication":"@parameters('$authentication')"}},"Get_current_weather":{"runAfter":{"Get_forecast_for_today":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_msnweather","operationId":"CurrentWeather","apiId":"/providers/Microsoft.PowerApps/apis/shared_msnweather"},"parameters":{"Location":"farnborough","units":"Imperial"},"authentication":"@parameters('$authentication')"}},"Get_the_forecast_for_tomorrow":{"runAfter":{"Get_current_weather":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_msnweather","operationId":"TomorrowsForecast","apiId":"/providers/Microsoft.PowerApps/apis/shared_msnweather"},"parameters":{"Location":"camberley","units":"Imperial"},"authentication":"@parameters('$authentication')"}},"Add_to_time":{"runAfter":{"Get_the_forecast_for_tomorrow":["Succeeded"]},"type":"Expression","kind":"AddToTime","inputs":{"baseTime":"@{utcNow()}","interval":2,"timeUnit":"Month"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}