BlogBits/Workflows/test2-7E588BE2-3F06-EB11-A813-000D3A7FC45E.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cc_sharedsharepointonline_42290"},"api":{"name":"shared_sharepointonline"}},"shared_msnweather":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cc_sharedmsnweather_66371"},"api":{"name":"shared_msnweather"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cc_sharedcommondataserviceforapps_1af31"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"interval":3,"frequency":"Minute"},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetOnNewItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://ccdemo0820.sharepoint.com/sites/newsite","table":"ea630779-7a5b-4c02-aafa-8fa1f992491f"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_forecast_for_today":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_msnweather","operationId":"TodaysForecast","apiId":"/providers/Microsoft.PowerApps/apis/shared_msnweather"},"parameters":{"Location":"London","units":"Metric"},"authentication":"@parameters('$authentication')"}},"Get_current_weather":{"runAfter":{"Get_forecast_for_today":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_msnweather","operationId":"CurrentWeather","apiId":"/providers/Microsoft.PowerApps/apis/shared_msnweather"},"parameters":{"Location":"farnborough","units":"Imperial"},"authentication":"@parameters('$authentication')"}},"Get_the_forecast_for_tomorrow":{"runAfter":{"Get_current_weather":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_msnweather","operationId":"TomorrowsForecast","apiId":"/providers/Microsoft.PowerApps/apis/shared_msnweather"},"parameters":{"Location":"camberley","units":"Imperial"},"authentication":"@parameters('$authentication')"}},"Add_to_time":{"runAfter":{"Get_the_forecast_for_tomorrow":["Succeeded"]},"type":"Expression","kind":"AddToTime","inputs":{"baseTime":"@{utcNow()}","interval":2,"timeUnit":"Month"}},"Convert_time_zone":{"runAfter":{"Add_to_time":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@{utcNow()}","formatString":"G","sourceTimeZone":"Aleutian Standard Time","destinationTimeZone":"Hawaiian Standard Time"}},"Current_time":{"runAfter":{"Convert_time_zone":["Succeeded"]},"type":"Expression","kind":"CurrentTime","inputs":{}},"Get_future_time":{"runAfter":{"Current_time":["Succeeded"]},"type":"Expression","kind":"GetFutureTime","inputs":{"interval":2,"timeUnit":"Week"}},"Subtract_from_time":{"runAfter":{"Get_future_time":["Succeeded"]},"type":"Expression","kind":"SubtractFromTime","inputs":{"baseTime":"@{body('Get_future_time')}","interval":1,"timeUnit":"Day"}},"Format_number":{"runAfter":{"Subtract_from_time":["Succeeded"]},"type":"Expression","kind":"FormatNumber","inputs":{"number":1232,"format":"C2"}},"Run_a_Child_Flow":{"runAfter":{"Format_number":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"406e07d0-a89b-ea11-a812-000d3a7fc8be"},"body":{"HTTP_Body":"fdf","HTTP_Body_1":"fdf"}},"description":"adsfa"},"HTTP":{"runAfter":{"Run_a_Child_Flow":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"http://deav.com"}},"HTTP_Webhook":{"runAfter":{"HTTP":["Succeeded"]},"type":"HttpWebhook","inputs":{"subscribe":{"method":"POST","uri":"http://new.bbc.co.uk","body":"dfd","authentication":{}},"unsubscribe":{"method":"POST","uri":"http://new.bbc.co.uk","headers":{},"body":"fdf","authentication":{}}},"description":"adadfa"},"Analyze_positive_or_negative_sentiment_in_text":{"runAfter":{"HTTP_Webhook":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_sentimentanalysis","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"item/requestv2/language":"en","item/requestv2/text":"test"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}