BlogBits/Workflows/test4-A9E647D0-3519-EB11-A813-000D3A7FC45E.json
{"properties":{"connectionReferences":{"shared_microsoftformspro":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cc_sharedmicrosoftformspro_c35dd"},"api":{"name":"shared_microsoftformspro"}},"shared_microsoftforms":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cc_sharedmicrosoftforms_d0846"},"api":{"name":"shared_microsoftforms"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook","apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms"},"parameters":{"form_id":"udmVTlmLuE-O7deQS7Ly4DVebChL8JRPsYhj6jRbiv5URVYxVTFJUUdOMEo1Qlo3V1M5TEMxQ1BLSy4u"},"authentication":"@parameters('$authentication')"}}},"actions":{"Create_an_invitation":{"runAfter":{"Get_response_details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_microsoftformspro","operationId":"createSurveyInvite","apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftformspro"},"parameters":{"ProjectId":"e93d6d5c-82b4-4a21-ac1b-e1be9ce9d1c6","FormId":"udmVTlmLuE-O7deQS7Ly4DVebChL8JRPsYhj6jRbiv5UNUFCSVQ1RFNCQUhXNlM3OTRLUTdNM1hXMS4u","Email":"fdfd","subject":"fdf","firstName":"fdf","lastName":"fd","Regarding":"fd","RecipientInfo":"fd","item/locale":"fd"},"authentication":"@parameters('$authentication')"}},"Get_response_details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_microsoftforms","operationId":"GetFormResponseById","apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms"},"parameters":{"form_id":"udmVTlmLuE-O7deQS7Ly4DVebChL8JRPsYhj6jRbiv5URVYxVTFJUUdOMEo1Qlo3V1M5TEMxQ1BLSy4u","response_id":12323},"authentication":"@parameters('$authentication')"}},"Send_a_survey":{"runAfter":{"Create_an_invitation":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_microsoftformspro","operationId":"sendSurvey","apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftformspro"},"parameters":{"to":"fdfd","ProjectId":"e93d6d5c-82b4-4a21-ac1b-e1be9ce9d1c6","FormId":"udmVTlmLuE-O7deQS7Ly4DVebChL8JRPsYhj6jRbiv5UNUFCSVQ1RFNCQUhXNlM3OTRLUTdNM1hXMS4u","EmailTemplateId":"5b9afcb1-ffb3-4969-bea7-efe4ea1fa963","Regarding":"dfd","RecipientInfo":"fdf","firstName":"dfd","lastName":"dfd","item/locale":"dfd"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}