BlogBits/Workflows/Whenafileismodified-CreatefileListfilesinfolderCon-0B9AA339-FB0D-EB11-A813-000D3A7FC45E.json
{"properties":{"connectionReferences":{"shared_onedriveforbusiness":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cc_sharedonedriveforbusiness_4068e"},"api":{"name":"shared_onedriveforbusiness"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_file_is_modified":{"recurrence":{"interval":3,"frequency":"Minute"},"metadata":{"6e202211-2856-4d17-9ded-5beb8b8626b0":"/"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"OnUpdatedFileV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"folderId":"6e202211-2856-4d17-9ded-5beb8b8626b0","includeSubfolders":false,"inferContentType":true},"authentication":"@parameters('$authentication')"}}},"actions":{"Create_file":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"folderPath":"/","name":"dfdf","body":"fdfd"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"List_files_in_folder":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"6e202211-2856-4d17-9ded-5beb8b8626b0":"/"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"ListFolderV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"id":"6e202211-2856-4d17-9ded-5beb8b8626b0"},"authentication":"@parameters('$authentication')"}},"Convert_file":{"runAfter":{"List_files_in_folder":["Succeeded"]},"metadata":{"b!qsOol8I1JkCSzCFFDj0umR4FJMe3XyxGhC2PoU7O9crCfhlPOfG3RqJtfJVMDF_O.01YMJ2H4E4OYNZIPJRGFH2QKZ747IMDHWL":"/Data Creation.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"ConvertFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"id":"b!qsOol8I1JkCSzCFFDj0umR4FJMe3XyxGhC2PoU7O9crCfhlPOfG3RqJtfJVMDF_O.01YMJ2H4E4OYNZIPJRGFH2QKZ747IMDHWL","type":"GLB"},"authentication":"@parameters('$authentication')"}},"Convert_file_using_path":{"runAfter":{"Convert_file":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"ConvertFileByPath","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"path":"/Data Creation.xlsx","type":"PDF"},"authentication":"@parameters('$authentication')"}},"Copy_file":{"runAfter":{"Convert_file_using_path":["Succeeded"]},"metadata":{"b!qsOol8I1JkCSzCFFDj0umR4FJMe3XyxGhC2PoU7O9crCfhlPOfG3RqJtfJVMDF_O.01YMJ2H4E4OYNZIPJRGFH2QKZ747IMDHWL":"/Data Creation.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness","operationId":"CopyDriveFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"id":"b!qsOol8I1JkCSzCFFDj0umR4FJMe3XyxGhC2PoU7O9crCfhlPOfG3RqJtfJVMDF_O.01YMJ2H4E4OYNZIPJRGFH2QKZ747IMDHWL","destination":"@triggerOutputs()?['headers/x-ms-file-path-encoded']","overwrite":false},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}