SalesInsightsTweaks/Workflows/CreateClosedOppActivitydata-EE318013-B296-EA11-A812-000D3A7FC8BE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"impersonation":{},"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"number":{"title":"Opp Count","type":"number","x-ms-dynamically-added":true,"description":"Please enter a number","x-ms-content-hint":"NUMBER"}},"required":["number"]}}}},"actions":{"Get_Accounts":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"ListRecords"},"parameters":{"entityName":"accounts"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Get_Accounts')?['body/value']","actions":{"Get_Contacts":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"ListRecords"},"parameters":{"entityName":"contacts","$filter":"_parentcustomerid_value eq @{items('Apply_to_each')?['accountid']}"},"authentication":"@parameters('$authentication')"}},"Count_Contacts":{"runAfter":{"Append_to_array_variable":["Succeeded"]},"type":"Compose","inputs":"@length(variables('contactArray'))"},"Apply_to_each_2":{"foreach":"@outputs('Get_Contacts')?['body/value']","actions":{"Append_to_Contact_Array":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"contactArray","value":"@items('Apply_to_each_2')?['contactid']"}}},"runAfter":{"Set_variable":["Succeeded"]},"type":"Foreach"},"Set_variable":{"runAfter":{"Get_Contacts":["Succeeded"]},"type":"SetVariable","inputs":{"name":"contactArray","value":"@variables('emptyArray')"}},"Append_to_array_variable":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"contactArray","value":"@outputs('Cooky')?['body/contactid']"}},"Create_Opps":{"actions":{"Create_Opp":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"opportunities","item/transactioncurrencyid@odata.bind":"transactioncurrencies(2b323b46-a08a-ea11-a811-000d3a7fc264)","item/name":"Sales Insights @{rand(1,10000)}","item/parentaccountid@odata.bind":"accounts(@{items('Apply_to_each')?['accountid']})","item/estimatedclosedate":"@addDays(utcNow(),rand(-1000,0))","item/estimatedvalue":"@rand(20000,2000000)"},"authentication":"@parameters('$authentication')"}},"Choose_Closure_type":{"actions":{"Create_Won":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"opportunitycloses","item/opportunityid@odata.bind":"opportunities(@{outputs('Create_Opp')?['body/opportunityid']})","item/actualrevenue":"@rand(20000,2000000)","item/actualend":"@addDays(outputs('Create_Opp')?['body/estimatedclosedate'], rand(-10,10))","item/opportunitystatecode":1,"item/opportunitystatuscode":3},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Do_until_3":["Succeeded"]},"else":{"actions":{"Create_Loss":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"opportunitycloses","item/opportunityid@odata.bind":"/opportunities(@{outputs('Create_Opp')?['body/opportunityid']})","item/actualrevenue":"@rand(20000, 2000000)","item/actualend":"@addDays(outputs('Create_Opp')?['body/estimatedclosedate'], rand(-10, 10))","item/opportunitystatecode":2,"item/opportunitystatuscode":5},"authentication":"@parameters('$authentication')"}}}},"expression":{"lessOrEquals":["@rand(1,4)",2]},"type":"If"},"Inc_Opp_Count":{"runAfter":{"Choose_Closure_type":["Succeeded"]},"type":"IncrementVariable","inputs":{"name":"oppCount","value":-1}},"Do_until_3":{"actions":{"Choose_Activity_Type":{"runAfter":{},"cases":{"Case":{"case":1,"actions":{"start_time":{"runAfter":{},"type":"Compose","inputs":"@addDays(outputs('Create_Opp')?['body/estimatedclosedate'],rand(-10,0))"},"Create_Meeting":{"runAfter":{"start_time":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"appointments","item/scheduledend":"@addMinutes(outputs('start_time'),rand(30,180))","item/scheduledstart":"@outputs('start_time')","item/subject":"Meeting @{outputs('Create_Opp')?['body/description']}","item/regardingobjectid_opportunity_appointment@odata.bind":"opportunities(@{outputs('Create_Opp')?['body/opportunityid']})","item/activitypointer_activity_parties":[{"participationtypemask":5,"partyid@odata.bind":"contacts(@{variables('contactArray')?[rand(0,length(variables('contactArray')))]})"}]},"authentication":"@parameters('$authentication')"}}}},"Case_2":{"case":2,"actions":{"Create_Email":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":2,"partyid@odata.bind":"contacts(@{variables('contactArray')?[rand(0,length(variables('contactArray')))]})"}],"item/description":"Hello World Email","item/regardingobjectid_opportunity_email@odata.bind":"opportunities(@{outputs('Create_Opp')?['body/opportunityid']})"},"authentication":"@parameters('$authentication')"}}}},"Case_3":{"case":3,"actions":{"Create_Call":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"phonecalls","item/subject":"Phone call for @{outputs('Create_Opp')?['body/name']}","item/directioncode":false,"item/regardingobjectid_opportunity_phonecall@odata.bind":"opportunities(@{outputs('Create_Opp')?['body/opportunityid']})","item/activitypointer_activity_parties":[{"participationtypemask":1,"partyid@odata.bind":"contacts(@{variables('contactArray')?[rand(0,length(variables('contactArray')))]})"}]},"authentication":"@parameters('$authentication')"}}}},"Case_4":{"case":4,"actions":{"Create_Task":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"tasks","item/subject":"Task for @{outputs('Create_Opp')?['body/name']}","item/regardingobjectid_opportunity_task@odata.bind":"opportunities(@{outputs('Create_Opp')?['body/opportunityid']})"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@rand(1,5)","type":"Switch"},"Inc_Activity_Count":{"runAfter":{"Choose_Activity_Type":["Succeeded"]},"type":"IncrementVariable","inputs":{"name":"activityCount","value":-1}}},"runAfter":{"Reset_Activity_Count":["Succeeded"]},"expression":"@equals(variables('activityCount'), 0)","limit":{"count":60,"timeout":"PT1H"},"type":"Until"},"Reset_Activity_Count":{"runAfter":{"Create_Opp":["Succeeded"]},"type":"SetVariable","inputs":{"name":"activityCount","value":"@triggerBody()['number']"}}},"runAfter":{"Reset_Opp_Count":["Succeeded"]},"expression":"@equals(variables('oppCount'), 0)","limit":{"count":60,"timeout":"PT1H"},"type":"Until"},"Reset_Opp_Count":{"runAfter":{"Count_Contacts":["Succeeded"]},"type":"SetVariable","inputs":{"name":"oppCount","value":"@triggerBody()['number']"}}},"runAfter":{"Cooky":["Succeeded"]},"type":"Foreach"},"Cooky":{"runAfter":{"Get_Accounts":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"GetItem"},"parameters":{"entityName":"contacts","recordId":"55a4698e-b396-ea11-a812-000d3a7fc8be"},"authentication":"@parameters('$authentication')"}},"Init_Contact_Array":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"contactArray","type":"array"}]}},"Init_Empty_Array":{"runAfter":{"Init_Contact_Array":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"emptyArray","type":"array"}]}},"Initialize_variable":{"runAfter":{"Init_Empty_Array":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"activityCount","type":"integer","value":"@triggerBody()['number']"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"oppCount","type":"integer","value":"@triggerBody()['number']"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}