SalesInsightsTweaks/Workflows/Dis-QualifyLeads-A6CA8DEA-D798-EA11-A812-000D3A7FC8BE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_cc-5fpower-20platform-20connector-5f989cf2626c082bed":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_cc-5Fpower-20platform-20connector-5F989cf2626c082bed","logicalName":"cc_5Fpower-20platform-20connector"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_Leads":{"runAfter":{"OptionSetValues":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leads","$filter":"createdon gt @{addDays(utcNow(),-7)} and statecode eq 0"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each":{"foreach":"@outputs('Get_Leads')?['body/value']","actions":{"Condition":{"actions":{"Disqualify_Lead":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leads","recordId":"@items('Apply_to_each')?['leadid']","item/budgetamount":"@rand(10000,1000000)","item/revenue":"@rand(200000,20000000)","item/industrycode":"@outputs('OptionSetValues')?['body/Options']?[rand(0, length(outputs('OptionSetValues')?['body/Options']))]?['Value']","item/numberofemployees":"@rand(5,20000)","item/statecode":2,"item/statuscode":6},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"else":{"actions":{"Compose":{"runAfter":{"Qualify_Lead":["Succeeded","Failed"]},"type":"Compose","inputs":1},"Update_Lead":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leads","recordId":"@items('Apply_to_each')?['leadid']","item/budgetamount":"@rand(10000,1000000)","item/revenue":"@rand(200000,20000000)","item/industrycode":"@outputs('OptionSetValues')?['body/Options']?[rand(0,length(outputs('OptionSetValues')?['body/Options']))]?['Value']","item/numberofemployees":"@rand(5,20000)"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Qualify_Lead":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leads","actionName":"Microsoft.Dynamics.CRM.QualifyLead","recordId":"@items('Apply_to_each')?['leadid']","item/CreateAccount":true,"item/CreateContact":true,"item/CreateOpportunity":true,"item/Status":3},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"equals":["@rand(1,4)",1]},"type":"If"}},"runAfter":{"Get_Leads":["Succeeded"]},"type":"Foreach"},"OptionSetValues":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_cc-5fpower-20platform-20connector-5f989cf2626c082bed","operationId":"OptionSetValues","apiId":""},"parameters":{"Entity":"lead","Field":"industrycode"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}