SalesInsightsTweaks/Workflows/Recurrence-Listrecords-536BE48B-C78E-EA11-A811-000D3A7FC8BE.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_rss":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_rss"}},"shared_assistantstudio":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_assistantstudio"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"GMT Standard Time","schedule":{"hours":["7","14"]}},"type":"Recurrence"}},"actions":{"Get_Competitors_with_blog":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"competitors","$filter":"cc_blogpost ne null"},"authentication":"@parameters('$authentication')"}},"Loop_Competitors":{"foreach":"@outputs('Get_Competitors_with_blog')?['body/value']","actions":{"List_all_RSS_feed_items":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_rss","operationId":"ListFeedItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_rss"},"parameters":{"feedUrl":"@items('Loop_Competitors')?['cc_blogpost']","since":"@addDays(utcNow(), -1)"},"authentication":"@parameters('$authentication')"}},"Loop_new_articles":{"foreach":"@outputs('List_all_RSS_feed_items')?['body']","actions":{"Loop_users":{"foreach":"@variables('UserArray')","actions":{"Create_Insight_Card":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_assistantstudio","operationId":"CreateActionCard_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_assistantstudio"},"parameters":{"organization":"https://ccdemo0520.crm11.dynamics.com","cardname":"Blog post for our Competitor","title":"There was a post by @{items('Loop_Competitors')?['name']}","description":"An article from @{items('Loop_Competitors')?['name']} titled @{items('Loop_new_articles')?['title']} has been published. Check it out using the button below ","actionname":"Open Article","actiontype":"OpenURL","postoperation":"Dismiss","ownerid":"@items('Loop_users')?['userId']","body/url":"@first(items('Loop_new_articles')?['links'])"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"List_all_RSS_feed_items":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Populate_Array":["Succeeded"]},"type":"Foreach"},"Get_Team":{"runAfter":{"Get_Competitors_with_blog":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teams","$filter":"name eq 'Sales User Team'"},"authentication":"@parameters('$authentication')"}},"Init_TeamId":{"runAfter":{"Get_Team":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TeamID","type":"string","value":"@{first(body('Get_Team')?['value'])?['teamid']}"}]}},"Get_Users_for_team":{"runAfter":{"Init_User_Array":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"teammemberships","$filter":"teamid eq @{variables('TeamID')}"},"authentication":"@parameters('$authentication')"}},"Convert_to_Array":{"runAfter":{"Get_Users_for_team":["Succeeded"]},"type":"Select","inputs":{"from":"@outputs('Get_Users_for_team')?['body/value']","select":{"userId":"@item()?['systemuserid']"}}},"Init_User_Array":{"runAfter":{"Init_TeamId":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"UserArray","type":"array"}]}},"Populate_Array":{"runAfter":{"Convert_to_Array":["Succeeded"]},"type":"SetVariable","inputs":{"name":"UserArray","value":"@body('Convert_to_Array')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}